
  <!-- <form [formGroup]="allergyFactor0Form" (ngSubmit)="submitAllergyFactor0Form()"> -->
    <form [formGroup]="allergyFactor0Form" (ngSubmit)="submitAllergyFactor0Form()">
      <br>
      <nb-accordion>
        <nb-accordion-item #item>
              <nb-accordion-item-header class="text-white"> 
                Allergy Factor (Infected by Birds)
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                    <h6>Allergy infected by Birds : </h6>
                    <br>
                    <!--
                      <div *ngFor="let data of birds">
                      <input type="checkbox" (change)="onChange(data.bird, $event.target.checked)"> {{data.bird}}<br>
                    </div>
                    --> 
                    <!-- <div class="form-group validation-checkboxes row" *ngFor="let data of birds">
                      <nb-checkbox  class="col-sm-4" formControlName="Birds" (change)="onChange(data.bird, $event.target.checked)">{{data.bird}}</nb-checkbox>
                    </div> -->
                    <div class="form-group validation-checkboxes row">
                      <nb-checkbox  class="col-sm-4" formControlName="Birds_Pigeon" [(ngModel)] = "PigeonCheckBox" value="Pigeon" status="info">Pigeon</nb-checkbox>
                      <nb-checkbox  class="col-sm-4" formControlName="Birds_Parrot" [(ngModel)] = "ParrotCheckBox"  value="Parrot" status="info">Parrot</nb-checkbox>
                      <nb-checkbox  class="col-sm-4" formControlName="Birds_Hen" [(ngModel)] = "HenCheckBox"  value="Hen" status="info">Chicken</nb-checkbox>
                    </div>
                    <br>
                    <h6>Food Allergy Symptoms : </h6>
                    <br>
                    <div class="row">
                              <div class="col-sm-4">
                                <div class="form-group">
                                    <nb-select outline multiple placeholder="Select" id="Food" formControlName="FoodSelect" [(ngModel)] = "selectedFood" status="info">
                                        <nb-option *ngFor="let food of foodAllergies" [value]="food.value">{{ food.name }}</nb-option>
                                    </nb-select>
                                </div>
                              </div>
                    </div>
                        <br>
                    <h6>Contact Allergies : </h6>
                    <br>
                    <div class="col-sm-6">
                      
                        <div class="demo-radio col-sm-4">
                            <nb-radio-group [(ngModel)]="contactAllergen" formControlName="ContactAllergens">
                                <nb-radio *ngFor="let contactAllergyOption of contactAllergyOptions" [value]="contactAllergyOption.value">{{ contactAllergyOption.name}}</nb-radio>                          
                            </nb-radio-group>
                        </div>
                    </div>  

                    <br>

                    <div class="input-group" *ngIf= 'contactAllergen == true'>
                        <textarea rows="2" placeholder="Text Area" class="form-control" formControlName="ContactAllegensDescription" [(ngModel)] = "contactAllergenDescription" name="ContactAllegentsDescription"></textarea>
                    </div><br>


                    <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
                    
                    
              </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
  </form>
