<form [formGroup]="nativityAndDomilcileForm" (ngSubmit)="submitNativityAndDomilcileForm(nativityAndDomilcileForm)">
    <br>
    <nb-accordion>
        <nb-accordion-item>
            <nb-accordion-item-header class="text-white">
                Nativity and Domilcile
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <label>Place of birth</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input type="text" placeholder="Place of birth" class="form-control" [(ngModel)]="birthPlace"
                            formControlName="BirthPlace" name='BirthPlace'>
                    </div>
                </div>
                <br>
                <label>Place brought up</label>
                <div class="input-group">
                    <div class="col-sm-4">
                        <input type="text" placeholder="Place brought up" class="form-control"
                            [(ngModel)]="boughtUpPlace" formControlName="BoughtUpPlace" name='BoughtUpPlace'>
                    </div>
                </div>
                <br>
                <label>Nativity of parents</label>
                <div class="input-group">
                    <div class="col-sm-4">
                        <input type="text" placeholder="Nativity of parents" class="form-control"
                            [(ngModel)]="nativityOfParents" formControlName="NativityOfParents"
                            name='NativityOfParents'>
                    </div>
                </div><br>
                <!-- <br> -->
                <h6>Any change in stay of place :</h6>
                <!-- <br> -->
                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">
                        <nb-radio-group [(ngModel)]="Changesatplace" formControlName="Changesatplace"
                            name='Changesatplace'>
                            <nb-radio *ngFor="let ChangesatplaceOption of ChangesatplaceOptions"
                                [value]="ChangesatplaceOption.value">
                                {{ ChangesatplaceOption.name}}</nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
                <!-- <br> -->
                <div *ngIf='Changesatplace == true'>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="place of earlier stay-1" class="form-control"
                                    [(ngModel)]="Stay1Place" formControlName="Stay1Place" name='Stay1Place'>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="number" placeholder="how many years" class="form-control"
                                    [(ngModel)]="Stay1Year" formControlName="Stay1Year" name='Stay1Year'>
                            </div>
                        </div>

                    </div>
                    <br>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="place of earlier stay-2" class="form-control"
                                    [(ngModel)]="Stay2Place" formControlName="Stay2Place" name='Stay2Place'>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="number" placeholder="how many years" class="form-control"
                                    [(ngModel)]="Stay2Year" formControlName="Stay2Year" name='Stay2Year'>
                            </div>
                        </div>

                    </div>
                    <br>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="place of earlier stay-3" class="form-control"
                                    [(ngModel)]="Stay3Place" formControlName="Stay3Place" name='Stay3Place'>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="number" placeholder="how many years" class="form-control"
                                    [(ngModel)]="Stay3Year" formControlName="Stay3Year" name='Stay3Year'>
                            </div>
                        </div>

                    </div>
                    <br>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="place of earlier stay-4" class="form-control"
                                    [(ngModel)]="Stay4Place" formControlName="Stay4Place" name='Stay4Place'>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="number" placeholder="how many years" class="form-control"
                                    [(ngModel)]="Stay4Year" formControlName="Stay4Year" name='Stay4Year'>
                            </div>
                        </div>

                    </div>
                    <br>

                    <h6>Current Place :</h6>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="Current Place of living" class="form-control"
                                    [(ngModel)]="CurrentPlace" formControlName="CurrentPlace" name='CurrentPlace'>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="number" placeholder="Years" class="form-control"
                                    [(ngModel)]="currentPlaceYear" formControlName="CurrentPlaceYear"
                                    name='CurrentPlaceYear'>
                            </div>
                        </div>

                    </div>
                    <!-- <br> -->
                </div>
                <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
                    nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</form>