
    <form [formGroup]="allergyFactor3Form" (ngSubmit)="submitAllergyFactor3Form()">     
        <nb-accordion>
          <nb-accordion-item #item>
                <nb-accordion-item-header class="text-white">
                  Allergy Factor (House)
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                      <h6>House: </h6>
                      <br>
                      <div class="form-group validation-checkboxes row">
                        <nb-checkbox status="info" class="col-sm-4" formControlName="House_VeryOld" [(ngModel)] = "VeryOldCheckBox" value="VeryOld">Very Old</nb-checkbox>
                        <nb-checkbox status="info" class="col-sm-4" formControlName="House_ModeratelyOld" [(ngModel)] = "ModeratelyOldCheckBox" value="ModeratelyOld">Moderately Old</nb-checkbox>
                        <nb-checkbox status="info" class="col-sm-4" formControlName="House_New" [(ngModel)] = "NewCheckBox" value="New">New</nb-checkbox><br>
                        <nb-checkbox status="info" class="col-sm-4" formControlName="House_WellVentilated" [(ngModel)] = "WellVentilatedCheckBox" value="WellVentilated">Well Ventilated</nb-checkbox>
                        <nb-checkbox status="info" class="col-sm-4" formControlName="House_EnoughLight" [(ngModel)] = "EnoughLightCheckBox" value="EnoughLight">Enough Light</nb-checkbox>
                        <nb-checkbox status="info" class="col-sm-4" formControlName="House_CleanRoof" [(ngModel)] = "CleanRoofCheckBox" value="CleanRoof">Clean Roof</nb-checkbox><br>
                        <nb-checkbox status="info" class="col-sm-4" formControlName="House_DampWalls" [(ngModel)] = "DampWallsCheckBox" value="DampWalls">Damp Walls</nb-checkbox>
                        <nb-checkbox status="info" class="col-sm-4" formControlName="House_DarkInteriors" [(ngModel)] = "DarkInteriorsCheckBox" value="DarkInteriors">Dark Interiors</nb-checkbox>
                        <nb-checkbox status="info" class="col-sm-4" formControlName="House_Apartment" [(ngModel)] = "ApartmentCheckBox" value="Apartment">Apartment</nb-checkbox><br>
                        <nb-checkbox status="info" class="col-sm-4" formControlName="House_Independent" [(ngModel)] = "IndependentCheckBox" value="Independent">Independent</nb-checkbox>
                        <nb-checkbox status="info" class="col-sm-4" formControlName="House_ModeratelyNew" [(ngModel)] = "ModeratelyNewCheckBox" value="ModeratelyNew">Moderately New</nb-checkbox>
                        <nb-checkbox status="info" class="col-sm-4" formControlName="House_Twin" [(ngModel)] = "TwinCheckBox" value="Twin">Twin</nb-checkbox>
                        </div>
                        
                      <br>
                      <h6>How is the neighbourhood?</h6>
                      <br>
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="form-group">
                                  <nb-select outline multiple placeholder="Select" id="neighbourhood" formControlName="NeighbourhoodSelect" [(ngModel)] = "selectedNeghbourhoods" status="info">
                                      <nb-option *ngFor="let item of items" [value]="item.value">{{ item.name }}</nb-option>
                                  </nb-select>
                              </div>
                            </div>
                      </div>
                      <br>
                      <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
                </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </form>
