<form [formGroup]="throatInfoForm" (ngSubmit)="submitThroatInfoForm(throatInfoForm)">

  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Throat Information
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="form-group">
          <label>Complaints in Throat :</label>
          <div class="col-sm-6">
            <nb-select multiple formControlName="ThroatComplaint" [(selected)]="selectedThroatComplaint">
              <nb-option *ngFor="let throatComplaint of throatComplaintObj" [value]="throatComplaint">
                {{throatComplaint.name}}
              </nb-option>
            </nb-select>
          </div>
        </div>
        <!-- </div> -->
        <!-- <label>Choking</label>
        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control">
              <option name='ThroatChoking' formControlName="ThroatChoking" *ngFor="let chokingOption of chokingOptions"
                [value]="chokingOption">
                {{ chokingOption.name}}
              </option>
              {{choking}}
            </select>
          </div>
        </div> -->

        <label>Choking :</label>
        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="throatChoking" formControlName="ThroatChoking">
              <option name='ThroatChoking' formControlName="ThroatChoking" *ngFor="let chokingOption of chokingOptions"
                [value]="chokingOption.value">
                {{ chokingOption.name}}
              </option>
            </select>
          </div>
        </div>

        <h5>Voice Box</h5>
        <!-- <label>Any Complaint in Voice Box</label> -->
        <!-- <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control" [(ngModel)]="voiceBoxComplaints" formControlName="VoiceBoxComplaints">
              <option name='VoiceBoxComplaints' formControlName="VoiceBoxComplaints"
                *ngFor="let voiceBoxComplaintsOption of voiceBoxComplaintsOptions"
                [value]="voiceBoxComplaintsOption.value">
                {{ voiceBoxComplaintsOption.name}}
              </option>
              {{voiceBoxComplaints}}
            </select>
          </div>
        </div> -->
        <div class="form-group">
          <span class="labelClass"> Any Complaint in Voice Box :</span>
          <select outline [(ngModel)]="voiceBoxComplaints" placeholder="Select" formControlName="VoiceBoxComplaints"
            status="info">
            <option>strained voice</option>
            <option>broken voice</option>
            <option>hoorse voice</option>
            <option>loss of voice</option>
          </select>
        </div>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</form>