<form [formGroup]="eyeEarInfoForm" (ngSubmit)="submiteyeEarInfoForm(eyeEarInfoForm)">

  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Eyes/Ear Information
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="form-group">
          <label>Complaints in eye :</label>
          <div class="col-sm-6">
            <nb-select multiple formControlName="EyeComplaints" [(selected)]="selectedEyeComplaints">
              <nb-option *ngFor="let eyeComplaint of eyeComplaintsObj" [value]="eyeComplaint">
                {{eyeComplaint.name}}
              </nb-option>
            </nb-select>
          </div>
        </div>
        <div>
          <label>Eyes</label>
          <div class="col-sm-6">
            <textarea rows="5" class="form-control" formControlName="EyeDetails" [(ngModel)]="eyeDetails"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label>Complaints in ear :</label>
          <div class="col-sm-6">
            <nb-select multiple formControlName="EarComplaints" [(selected)]="selectedEarComplaints">
              <nb-option *ngFor="let earComplaint of earComplaintsObj" [value]="earComplaint">
                {{earComplaint.name}}
              </nb-option>
            </nb-select>
          </div>
        </div>
        <div class="form-group">
          <label>Type of Discharge :</label>
          <div class="col-sm-6">
            <nb-select multiple formControlName="EarDischarge" [(selected)]="selectedEarDischarge">
              <nb-option *ngFor="let earDischarge of earDischargeObj" [value]="earDischarge">
                {{earDischarge.name}}
              </nb-option>
            </nb-select>
          </div>
        </div>

        <div>
          <label>Ears</label>
          <div class="col-sm-6">
            <textarea rows="5" class="form-control" formControlName="EarDetails" [(ngModel)]="earDetails"></textarea>
          </div>
        </div>


        Giddiness:
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedGiddiness" name='Giddiness' formControlName="Giddiness">
              <nb-radio *ngFor="let giddinessOption of giddinessOptions" [value]="giddinessOption.value">
                {{ giddinessOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>

        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>

      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</form>