.flex-centered {
    margin: auto;
  }
  nb-card-body {
    display: flex;
  }
  
  .title {
    text-align: center;
  }
  
  .sub-title {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }
  
  .btn {
    margin-bottom: 2rem;
  }

  .is-invalid {
    border-color: #dc3545 !important
  }
  