<form [formGroup]="hairDetailsForm" (ngSubmit)="submitHairDetailsForm(hairDetailsForm)">
  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Hair Details
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <label>Hair</label>
        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control" formControlName="HairType" [(ngModel)]="selectedHairType">
              <option>Normal</option>
              <option>Thin</option>
              <option>Bald</option>

            </select>
          </div>
        </div>

        <h6> Dandruff:</h6>

        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedDandruffbtn" formControlName="Dandruff" name='Dandruffbtn'>
              <nb-radio *ngFor="let dandruffOption of dandruffOptions" [value]="dandruffOption.value">
                {{ dandruffOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>

        <h6> Loss of Hair:</h6>

        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedHairlossbtn" formControlName="HairLoss" name='Hairlossbtn'>
              <nb-radio *ngFor="let hairlossOption of hairlossOptions" [value]="hairlossOption.value">
                {{ hairlossOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>
        <br>

        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</form>