/*.full {
  background: url('../../../assets/images/main.jpg') 0 0 no-repeat;
  min-height: 634px;
  widows: 100%;
}
.half {
  background: url('../../../assets/images/main.jpg') 0 0 no-repeat;
  min-height: 634px;
  min-width: 1500px;
  
  margin: 0;
  margin-bottom: 30px;
}
.half2 {
  background: url(https://raw.githubusercontent.com/solodev/transparent-overlay/master/overlay-img-3.jpg) 0 0 no-repeat;
  min-height: 301px;
}
.full, .half, .half2 {
  background-size: cover;
  position: relative;
}   

.full:hover .overlay-effect, .half:hover .overlay-effect, .half2:hover .overlay-effect {
  opacity: 1;
  cursor: pointer;
}
.half .overlay-effect {
  opacity: 1;
  cursor: pointer;
}

.overlay-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(0,0,128,0.7);	

  overflow:hidden;
}

.full a,
.half a,
.half2 a {
  color: #fff;
}

.full h3,
.half h3,
.half2 h3 {
  padding: 15px 30px;
}

@media screen and (max-width: 768px) {
  .full, .half, .half2 {margin-bottom: 10px;}
}*/
/* .masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../../../assets/images/pic4.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}  */
 h1 h3{
  position: absolute;
  bottom: 0;
  left: 0;
} 
.masthead {
  background: linear-gradient(rgba(0,191,255,.4), rgba(0,191,255,.4)), url('../../../assets/images/pic3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  /* height: 450px;
  padding-top: 50px; */
  height: 100vh;
  min-height: 500px;
}
.nav-link {color: white;}
.nav-link:hover {color: blue;}
.iDoctor{
  color: white;
}

.error-banner{
  width: 100%;
  height: 40px;
  background: red;
  text-align: center;
  line-height: 40px;
  color: white;
  opacity: 0.8;
  position: fixed;
  z-index: 999;
}