<!-- Navigation -->
<!-- <nav class="navbar navbar-expand-lg navbar-light  shadow fixed-top" style="background-color: #1E90FF;">
  <div class="container"> -->

<!--<a class="navbar-brand" class="text-white" href="#"><b>iDoctor</b></a> -->
<!-- <img src='../../../assets/images/plus.jpeg' width="25" height="25" class="d-inline-block align-top" alt=""><br>
    <h2 class="text-white"><b>iDoctor</b></h2>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- Full Page Image Header with Vertically Centered Content -->
<div *ngIf="loginError" class="error-banner"> Access Denied <span style="float: right; margin-right: 10px; cursor: pointer;" (click)="closeErrorBanner(e)">X</span></div>
<header class="masthead">
  <br>
  <br>
  <div>
    <nav class="nav nav-pills nav-fill">
      <a class="nav-item nav-link" href="#" routerLink="/pages/patient-profile/all-patients"><b>Home</b></a>
      <a class="nav-item nav-link" href="#"><b>About</b></a>
      <h2 class="iDoctor">iDoctor</h2>
      <!-- <a class="nav-item nav-link" href="#" routerLink="/auth/login"><b>Log in</b></a> -->
      <a class="nav-item nav-link" (click)="login()"><b>Log in</b></a>
      <a class="nav-item nav-link" href="#" routerLink="/auth/register"><b>Register</b></a>
    </nav>
  </div>

  <div class="container h-100">

    <div class="row h-100 align-items-center">

      <div class="col-12 text-center">
        <h1 class="display-3"> <b class="text-white"> We Care For Your Health <br> Every Moment</b></h1>
        <br>
        <h3 class="lead"><em>Learn about allergies, their symptoms, and how to find relief through allergist care and
            treatment.</em></h3>
        <br>
        <button type="button" class="btn btn-primary btn-lg">READ MORE</button>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h2 class='message' class="font-weight-light" class="text-center">Welcome to iDoctor</h2>
    <br>
    <div class="row">
      <div class="col">Lorem ipsum dolor sit amet, cibo sensibus interesset no sit. Et dolor possim volutpat qui. No
        malis tollit iriure eam, et vel tale zril blandit, rebum vidisse nostrum qui eu. No nostrud dolorem legendos
        mea, ea eum mucius oporteat platonem.Eam an case scribentur, ei clita causae cum, alia debet eu vel.</div>
      <div class="col">Lorem ipsum dolor sit amet, cibo sensibus interesset no sit. Et dolor possim volutpat qui. No
        malis tollit iriure eam, et vel tale zril blandit, rebum vidisse nostrum qui eu. No nostrud dolorem legendos
        mea, ea eum mucius oporteat platonem.Eam an case scribentur, ei clita causae cum, alia debet eu vel.</div>
    </div>
  </div>
</section>

<!--
<div class="container py-2">
   <div class="row">
      
    
    <div class="col-md-6">
      <div class="half">
        <div class="overlay-effect h-100 w-100"></div>
       <div>
        a
       </div>
      </div>
      
    </div>
   </div>
 </div>
-->