<form [formGroup]="diteSleepPhysicalActivityForm"
    (ngSubmit)="submitDiteSleepPhysicalActivityForm(diteSleepPhysicalActivityForm)">
    <br>
    <nb-accordion>
        <nb-accordion-item>
            <nb-accordion-item-header class="text-white">
                Diet Information
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputFirstName">Diet</label>
                            <select class="form-control" name="DietFollowed" formControlName="DietFollowed"
                                [(ngModel)]="dietFollowed">
                                <option *ngFor="let diet of DietSleepObj" [ngValue]="diet.DietFollowed">
                                    {{ diet.DietFollowed }}

                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputLastName">Eating</label>
                            <select class="form-control" name="Eating" formControlName="Eating" [(ngModel)]="eating">
                                <option *ngFor="let eatable of EatingObj" [ngValue]="eatable.Eating">
                                    {{ eatable.Eating }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputFirstName">Appetite</label>
                            <select class="form-control" name="Appetite" formControlName="Appetite"
                                [(ngModel)]="appetite">
                                <option *ngFor="let appetites of AppetiteObj" [ngValue]="appetites.Appetite">
                                    {{ appetites.Appetite }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputLastName">Physical Activity</label>
                            <select class="form-control" name="PhysicalActivity" formControlName="PhysicalActivity"
                                [(ngModel)]="physicalActivity">
                                <option *ngFor="let activities of PhysicalActivityObj"
                                    [ngValue]="activities.PhysicalActivity">
                                    {{ activities.PhysicalActivity }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputFirstName">Snoring :</label>
                            <select class="form-control" name="Snoring" formControlName="Snoring" [(ngModel)]="snoring">
                                <option *ngFor="let snore of SnoringObj" [ngValue]="snore.Snoring">
                                    {{ snore.Snoring }}

                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputLastName">Increased Gas :</label>
                            <select class="form-control" name="IncreasedGas" formControlName="IncreasedGas"
                                [(ngModel)]="increasedGas">
                                <option *ngFor="let gas of IncreasedGasObj" [ngValue]="gas.IncreasedGas">
                                    {{ gas.IncreasedGas }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Sleep Pattern :</label>
                    <div class="col-sm-6">
                        <nb-select multiple formControlName="SleepPattern" [(selected)]="selectedSleepPatterns">
                            <nb-option *ngFor="let pattern of SleepPatternObj" [value]="pattern">
                                {{pattern.name}}
                            </nb-option>
                        </nb-select>
                    </div>
                </div>
                <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
                    nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</form>