<form [formGroup]="cytologyTestForm" (ngSubmit)="submitCytologyTestForm(cytologyTestForm)">

  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Cytology Test
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <h6>Cytology Test :</h6>
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedCytology" formControlName="CytologyTest" name='Cytology'>
              <nb-radio *ngFor="let cytologyOption of cytologyOptions" [value]="cytologyOption.value">
                {{ cytologyOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>
        <div *ngIf='selectedCytology == true'>
          <textarea rows="5" style="overflow:scroll;" placeholder="Details" class="form-control"
            formControlName="CytologyTestDetails" [(ngModel)]="cytologyTestDetails"></textarea>
        </div>
        <br>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>



</form>