<form [formGroup]="allergyFactor4Form" (ngSubmit)="submitAllergyFactor4Form()">
  <nb-accordion>
    <nb-accordion-item #item>
      <nb-accordion-item-header class="text-white">
        Allergy Factor (Mattresses)
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <h6>Mattresses: </h6>
        <br>
        <div class="form-group validation-checkboxes row">
          <nb-checkbox status="info" class="col-sm-4" formControlName="Mattress_VeryOld" [(ngModel)]="VeryOldCheckBox"
            value="VeryOld">Very Old</nb-checkbox>
          <nb-checkbox status="info" class="col-sm-4" formControlName="Mattress_ModeratelyOld"
            [(ngModel)]="ModeratelyOldCheckbox" value="ModeratelyOld">Moderately Old</nb-checkbox>
          <nb-checkbox status="info" class="col-sm-4" formControlName="Mattress_New" [(ngModel)]="NewCheckbox"
            value="New">New</nb-checkbox><br>
          <nb-checkbox status="info" class="col-sm-4" formControlName="Mattress_ModeratelyNew"
            [(ngModel)]="ModeratelyNewCheckbox" value="ModeratelyNew">Moderately New</nb-checkbox>
          <nb-checkbox status="info" class="col-sm-4" formControlName="Mattress_Cotton" [(ngModel)]="CottonCheckbox"
            value="Cotton">Cotton</nb-checkbox>
          <nb-checkbox status="info" class="col-sm-4" formControlName="Mattress_SilkCotton"
            [(ngModel)]="SilkCottonCheckBox" value="SilkCotton">Silk Cotton</nb-checkbox><br>
          <nb-checkbox status="info" class="col-sm-4" formControlName="Mattress_RubberisedCoir"
            [(ngModel)]="RubberisedCoirCheckBox" value="RubberisedCoir">Rubberised Coir</nb-checkbox>
          <nb-checkbox status="info" class="col-sm-4" formControlName="Mattress_Foam" [(ngModel)]="FoamCheckBox"
            value="Foam">Foam</nb-checkbox>
          <nb-checkbox status="info" class="col-sm-4" formControlName="Mattress" [(ngModel)]="JhamkhanaCheckBox"
            value="Jamkhana">Jamkhana</nb-checkbox><br>
          <nb-checkbox status="info" class="col-sm-4" formControlName="Mattress_Mat" [(ngModel)]="MatCheckBox"
            value="Mat">Mat</nb-checkbox>
        </div>


        <br>
        <br>
        <h6>Insects : </h6>
        <br>
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedInsects" formControlName="Insect" name='Insect'>
              <nb-radio *ngFor="let insectAllergyOption of insectAllergyOptions" [value]="insectAllergyOption.value">
                {{ insectAllergyOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>
        <br>

        <div class="col-sm-4">
          <div class="form-group" *ngIf='selectedInsects == true'>
            <nb-select outline multiple placeholder="Select" [(ngModel)]="selectedInsect"
              formControlName="InsectsSelect" status="info">
              <nb-option value="Mosquitoes">Mosquitoes</nb-option>
              <nb-option value="Cockroaches">Cockroaches</nb-option>
              <nb-option value="House Flies">House Flies</nb-option>
              <nb-option value="Ants">Ants</nb-option>
              <nb-option value="Termites">Termites</nb-option>
              <nb-option value="Bees">Bees</nb-option>
              <nb-option value="Bed Bugs">Bed Bugs</nb-option>
              <nb-option value="Butterflies">Butterflies</nb-option>
              <nb-option value="Moths">Moths</nb-option>
              <nb-option value="Silk Worm/Cocoon">Silk Worm/Cocoon</nb-option>
              <nb-option value="Silver Fish">Silver Fish</nb-option>
            </nb-select>
          </div>
        </div>

        <br> <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</form>