<form [formGroup]="skin1Form" (ngSubmit)="submitSkin1Form(skin1Form)">

  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Skin Information
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <!-- <h6>Itching :</h6> -->
        <div class="col-sm-6">
          <label>Itching :</label>
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedItching" formControlName="Itching" name='Itching'>
              <nb-radio *ngFor="let itchingOption of itchingOptions" [value]="itchingOption.value">
                {{ itchingOption.name}}</nb-radio>
            </nb-radio-group>
          </div>

          <div *ngIf='selectedItching == true'>
            <label>Where :</label>
            <div class="input-group">
              <input type="text" placeholder="Where" class="form-control" [(ngModel)]="skinItchingArea"
                formControlName="SkinItchingArea" name='SkinItchingArea'>
            </div>
            <br>
            <div class="form-group">
              <label>Do you get :</label>
              <!-- <div class="col-sm-6"> -->
              <nb-select multiple formControlName="SkinSymptomsArea" [(selected)]="selectedSkinSymptomsArea">
                <nb-option *ngFor="let SkinSymptomsArea of SkinSymptomsAreaObj" [value]="SkinSymptomsArea">
                  {{SkinSymptomsArea.name}}
                </nb-option>
              </nb-select>
            </div>
            <!-- <br> -->
            <label>Where Do They Appear?</label>
            <div class="input-group">
              <input type="text" placeholder="Where Do They Appear" class="form-control"
                [(ngModel)]="skinAppearandDisAppear" formControlName="SkinAppearandDisAppear"
                name='SkinAppearandDisAppear' />
            </div>
          </div>
          <br>

          <label>Dry Or Discharge</label>
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedDryordischarge" formControlName="Dryordischarge" name='Dryordischarge'>
              <nb-radio *ngFor="let dryordischargeOption of dryordischargeOptions" [value]="dryordischargeOption.value">
                {{ dryordischargeOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
          <br>
          <label>Redness</label>
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedRedness" formControlName="Redness" name='Redness'>
              <nb-radio *ngFor="let rednessOption of rednessOptions" [value]="rednessOption.value">
                {{ rednessOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
          <br>
          <div>
              <label>Skin Details</label>
              <div class="input-group">
                <textarea rows="5" placeholder="Details" class="form-control" [(ngModel)]="skinSymptomsMaster"
                  formControlName="SkinSymptomsMaster"></textarea>
              </div><br>
            </div>
        </div>
        
        

        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</form>