<form [formGroup]="femalePersonalDetailsForm" (ngSubmit)="submitFemalePersonalDetailsForm(femalePersonalDetailsForm)">

  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Female Personal
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <label>Menstruate :</label>

        <!-- <div class="form-group">
          <span class="labelClass"> How often :</span>
          <select outline [(ngModel)]="selectedAlcoholFrequency" placeholder="Select"
              formControlName="AlcoholFrequency" status="info">
              <option>Daily</option>
              <option>2-3 Times a week</option>
              <option>Rarely</option>
          </select>
      </div> -->

        <div class="col-sm-6">
          <div class="form-group">
            <select outline [(ngModel)]=Menstruate formControlName="Menstruate" status="info">
              <option>YES</option>
              <option>NO</option>
            </select>
          </div>
          <label>Age of Menarche</label>
          <div class="input-group">
            <input type="Number" placeholder="Age of Menarche" class="form-control" [(ngModel)]=MenarcheAge
              formControlName="MenarcheAge">
          </div><br>
        </div>
        <label>Periods Regular :</label>
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedPeriods" formControlName="RegularPeriods" name='RegularPeriods'>
              <nb-radio *ngFor="let periodsOption of periodsOptions" [value]="periodsOption.value">
                {{ periodsOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div><br>
        <div class="col-sm-4">
          <div *ngIf='selectedPeriods == true'>
            <label>Type of Flow :</label>
            <div class="form-group">
              <select class="form-control" formControlName="FemaleTypeofFlow">
                <option>normal</option>
                <option>more</option>
                <option>less</option>
              </select>
            </div>
            <label>Allergy Symptoms Increase :</label>
            <div class="col-sm-6">
              <div class="demo-radio col-sm-4">
                <nb-radio-group [(ngModel)]="AllergySymptomsIncrease" formControlName="AllergySymptomsIncrease"
                  name='AllergySymptomsIncrease'>
                  <nb-radio *ngFor="let allergySymptomsIncreaseOption of allergySymptomsIncreaseOptions"
                    [value]="allergySymptomsIncreaseOption.value">
                    {{allergySymptomsIncreaseOption.name}}</nb-radio>
                </nb-radio-group>
              </div>
            </div><br>
            <label>Decrease :</label>
            <div class="col-sm-6">
              <div class="demo-radio col-sm-4">
                <nb-radio-group [(ngModel)]="AllergySymptomsDecrease" formControlName="AllergySymptomsDecrease"
                  name='AllergySymptomsDecrease'>
                  <nb-radio *ngFor="let allergySymptomsDecreaseOption of allergySymptomsDecreaseOptions"
                    [value]="allergySymptomsDecreaseOption.value">
                    {{allergySymptomsDecreaseOption.name}}</nb-radio>
                </nb-radio-group>
              </div>
            </div><br>
     
            <label>Married(years)</label>
            <div class="input-group">
              <input type="Number" placeholder="Married(years)" [(ngModel)]="MarriedForYears" class="form-control"
                formControlName="MarriedForYears" />
            </div>
          </div>
        </div>
        <label>Pregnancies :</label>
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedPregnancies" formControlName="Pregnancies" name='Pregnancies'>
              <nb-radio *ngFor="let pregnanciesOption of pregnanciesOptions" [value]="pregnanciesOption.value">
                {{ pregnanciesOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>
        <div class="col-sm-4">
          <div *ngIf='selectedPregnancies == true'>
            <label>First Trimester :</label>

            <div class="col-sm-6">
              <div class="demo-radio col-sm-4">
                <nb-radio-group [(ngModel)]="selectedFirstTrimesterAllergy" formControlName="FirstTrimesterAllergy"
                  name='FirstTrimesterAllergy'>
                  <nb-radio *ngFor="let firstTrimesterAllergy of firstTrimesterAllergyOptions"
                    [value]="firstTrimesterAllergy.value">
                    {{ firstTrimesterAllergy.name}}</nb-radio>
                </nb-radio-group>
              </div>
            </div>
            <label>Second Trimester :</label>
            <div class="form-group">
              <div class="col-sm-6">
                <div class="demo-radio col-sm-4">
                  <nb-radio-group [(ngModel)]="selectedSecondTrimesterAllergy" formControlName="SecondTrimesterAllergy"
                    name='SecondTrimesterAllergy'>
                    <nb-radio *ngFor="let secondTrimesterAllergy of secondTrimesterAllergyOptions"
                      [value]="secondTrimesterAllergy.value">
                      {{ secondTrimesterAllergy.name}}</nb-radio>
                  </nb-radio-group>
                </div>
              </div>

            </div>
            <label>Third Trimester :</label>
            <div class="form-group">

              <div class="col-sm-6">
                <div class="demo-radio col-sm-4">
                  <nb-radio-group [(ngModel)]="selectedThirdTrimesterAllergy" formControlName="ThirdTrimesterAllergy"
                    name='ThirdTrimesterAllergy'>
                    <nb-radio *ngFor="let thirdTrimesterAllergyOption of thirdTrimesterAllergyOptions"
                      [value]="thirdTrimesterAllergyOption.value">
                      {{ thirdTrimesterAllergyOption.name}}</nb-radio>
                  </nb-radio-group>
                </div>
              </div>
            </div>
            <label>After Delivery :</label>
            <div class="col-sm-6">
              <div class="demo-radio col-sm-4">
                <nb-radio-group [(ngModel)]="selectedAfterDeliveryAllergy" formControlName="AfterDeliveryAllergy"
                  name='AfterDeliveryAllergy'>
                  <nb-radio *ngFor="let afterDeliveryAllergyOption of afterDeliveryAllergyOptions"
                    [value]="afterDeliveryAllergyOption.value">
                    {{ afterDeliveryAllergyOption.name}}</nb-radio>
                </nb-radio-group>
              </div>
            </div>
          </div>
        </div>
        <br>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</form>