<form [formGroup]="bloodDonationForm" (ngSubmit)="submitBloodDonationForm(bloodDonationForm)">
    <br>
    <nb-accordion>
        <nb-accordion-item>
            <nb-accordion-item-header class="text-white">
                Blood Donated Details
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <h6>Donated Blood:</h6>
                <!-- <br> -->
                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">
                        <nb-radio-group [(ngModel)]="selectedBloodDonation" formControlName="BloodDonation"
                            name='BloodDonation'>
                            <nb-radio *ngFor="let bloodDonationOption of bloodDonationOptions"
                                [value]="bloodDonationOption.value">
                                {{ bloodDonationOption.name}}</nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
                <!-- <br> -->
                <div *ngIf='selectedBloodDonation == true'>
                    <label>How many times?</label>
                    <div class="col-sm-6 input-group">
                        <input type="number" placeholder="how many times ?" class="form-control"
                            [(ngModel)]="noofTimesBloodDonated" formControlName="NoofTimesBloodDonated"
                            name='noofTimesBloodDonated'>
                    </div>
                    <br>
                    <label>When recently?</label>
                    <div class="col-sm-6 input-group">
                        <input type="date" placeholder="when recently ?" class="form-control"
                            [(ngModel)]="bloodDonatedDate" value="GetFormattedDate(now) "
                            formControlName="BloodDonationDate" name='bloodDonatedDate'>

                    </div>
                </div>
                <h6>Impact:</h6>
                <!-- <br> -->
                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">
                        <nb-radio-group [(ngModel)]="selectedBloodDonationImpact" formControlName="DonationImpact"
                            name='DonationImpact'>
                            <nb-radio *ngFor="let bloodDonationImpactOption of bloodDonationImpactOptions"
                                [value]="bloodDonationImpactOption.value">
                                {{ bloodDonationImpactOption.name}}</nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
                <!-- <br> -->
                <div *ngIf='selectedBloodDonationImpact == true'>
                    <div>
                        <textarea rows="5" placeholder="Write the problems here" class="form-control"
                            [(ngModel)]="bloodDonationProblem" formControlName="BloodDonationProblem"
                            name='BloodDonationProblem'></textarea>
                    </div>
                </div>
                <br>
                <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
                    nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>

            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
    <br>

    <!-- <nb-accordion>
        <nb-accordion-item>
            <nb-accordion-item-header class="text-white">
                Blood Receiving Details
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <h6>Received Blood:</h6>

                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">
                        <nb-radio-group [(ngModel)]="selectedBloodReceive" formControlName="BloodReceive"
                            name='BloodReceive'>
                            <nb-radio *ngFor="let bloodReceiveOption of bloodReceiveOptions"
                                [value]="bloodReceiveOption.value">
                                {{ bloodReceiveOption.name}}</nb-radio>
                        </nb-radio-group>
                    </div>
                </div>

                <div *ngIf='selectedBloodReceive == true'>
                    <label>How many times?</label>
                    <div class="col-sm-6 input-group">
                        <input type="number" placeholder="how many times ?" class="form-control"
                            [(ngModel)]="noofTimesBloodReceived" formControlName="NoofTimesBloodReceived"
                            name='noofTimesBloodReceived'>
                    </div>
                    <br>
                    <label>When recently?</label>
                    <div class="col-sm-6 input-group">
                        <input type="date" placeholder="when recently ?" class="form-control"
                            [(ngModel)]="bloodReceiveDate" formControlName="BloodReceiveDate" name='bloodReceiveDate'>
                    </div>
                </div>

                <h6>Impact:</h6>

                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">
                        <nb-radio-group [(ngModel)]="selectedBloodRecievedImpact" formControlName="RecievedImpact"
                            name='RecievedImpact'>
                            <nb-radio *ngFor="let bloodRecieveImpactOption of bloodRecieveImpactOptions"
                                [value]="bloodRecieveImpactOption.value">
                                {{ bloodRecieveImpactOption.name}}</nb-radio>
                        </nb-radio-group>
                    </div>
                </div>

                <div *ngIf='selectedBloodRecievedImpact == true'>
                    <div>
                        <textarea rows="5" placeholder="Write the problems here" class="form-control"
                            [(ngModel)]="bloodReceiveProblem" formControlName="BloodReceiveProblem"
                            name='BloodReceiveProblem'></textarea>
                    </div>
                </div>

            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
    <br> -->

</form>