
  <form [formGroup]="allergyFactor1Form" (ngSubmit)="submitAllergyFactor1Form()">
    <nb-accordion>
      <nb-accordion-item #item>
            <nb-accordion-item-header class="text-white">
              Allergy Factor (Exposure to Dust)
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                  <h6>Appear on Exposure to : </h6>
                  <br>
                
                  <div class="form-group validation-checkboxes row" >
                    <nb-checkbox status="success" class="col-sm-4" formControlName="Exposureto_HouseDust" [(ngModel)] = "HouseDustCheckBox" value="HouseDust" status="info">House Dust</nb-checkbox>
                    <nb-checkbox status="success" class="col-sm-4" formControlName="Exposureto_PaperDust" [(ngModel)] = "PaperDustCheckBox" value="PaperDust" status="info">Paper Dust</nb-checkbox>
                    <nb-checkbox status="success" class="col-sm-4" formControlName="Exposureto_Wheatdust" [(ngModel)] = "WheatDustCheckBox" value="WheatDust" status="info">Wheat Dust</nb-checkbox><br>
                    <nb-checkbox status="success" class="col-sm-4" formControlName="Exposureto_RagiDust" [(ngModel)] = "RagiDustCheckBox" value="RagiDust" status="info">Ragi Dust</nb-checkbox>
                    <nb-checkbox status="success" class="col-sm-4" formControlName="Exposureto_WollenDust" [(ngModel)] = "WollenDustCheckBox" value="WollenDust" status="info">Wollen Dust</nb-checkbox>
                    <nb-checkbox status="success" class="col-sm-4" formControlName="Exposureto_OldCupboardDust" [(ngModel)] = "OldCupBoardDustCheckBox" value="OldCupBoardDust" status="info">Old CupBoard Dust</nb-checkbox><br>
                    <nb-checkbox status="success" class="col-sm-4" formControlName="Exposureto_HayDust" [(ngModel)] = "HayDustCheckBox" value="HayDust" status="info">Hay Dust</nb-checkbox>
                    <nb-checkbox status="success" class="col-sm-4" formControlName="Exposureto_RiceDust" [(ngModel)] = "RiceDustCheckBox" value="RiceDust" status="info">Rice Dust</nb-checkbox>
                    <nb-checkbox status="success" class="col-sm-4" formControlName="Exposureto_ChilliDust" [(ngModel)] = "ChilliDustCheckBox" value="ChilliDust" status="info">Chilli Dust</nb-checkbox><br>
                    <nb-checkbox status="success" class="col-sm-4" formControlName="Exposureto_BakeryDust" [(ngModel)] = "BakeryDustCheckBox" value="BakeryDust" status="info">Bakery Dust</nb-checkbox>
                    <nb-checkbox status="success" class="col-sm-4" formControlName="Exposureto_CottonStraw" [(ngModel)] = "CottonStrawCheckBox" value="CottonStraw" status="info">Cotton Dust</nb-checkbox>
                    <nb-checkbox status="success" class="col-sm-4" formControlName="Exposureto_StrawDust" [(ngModel)] = "StrawDustCheckBox" value="StrawDust" status="info">Straw Dust</nb-checkbox><br>
                    <nb-checkbox status="success" class="col-sm-4" formControlName="Exposureto_JowarDust" [(ngModel)] = "JowarDustCheckBox" value="JowarDust"status="info">Jowar Dust</nb-checkbox>
                    <nb-checkbox status="success" class="col-sm-4" formControlName="Exposureto_SawRoad" [(ngModel)] = "SawRoadCheckBox" value="SawRoad" status="info">Saw Road</nb-checkbox>
                    <nb-checkbox status="success" class="col-sm-4" formControlName="Exposureto_RoadDust" [(ngModel)] = "RoadDustCheckBox" value="RoadDust" status="info">Road Dust</nb-checkbox><br>
                    </div>
                  
                 


                  <h6>Food/Beverage Allergies : </h6>
                  <br>
                  <div>
                    <div class="col-sm-6">     
                      <div class="demo-radio col-sm-4">                  
                            <nb-radio-group [(ngModel)]="selectedFoodAllergy" formControlName="FoodAllergySelect" name="FoodAllergySelect">
                                <nb-radio *ngFor="let foodAllergyOption of foodAllergyOptions" [value]="foodAllergyOption.value">{{ foodAllergyOption.name}}</nb-radio>                          
                            </nb-radio-group>                                            
                      </div>
                   </div>  
                  </div>
                  

                  <br>

                  <div class="input-group" *ngIf='selectedFoodAllergy == true'>         
                        <textarea rows="2" placeholder="Text Area" class="form-control" formControlName="FoodAllergyText" [(ngModel)] = "selectedFoodAllergyText" name="FoodAllergyTextName"></textarea> 
                  </div>
                  <br>
                  <br>
                  <h6>Drug Reaction : </h6>
                <div>
                  <div class="col-sm-6">    
                    <div class="demo-radio col-sm-4">                    
                          <nb-radio-group [(ngModel)]="selectedDrugReaction" formControlName="DrugReactionSelect" name="DrugReactionSelect">
                              <nb-radio *ngFor="let drugReactionOption of drugReactionOptions" [value]="drugReactionOption.value">{{ drugReactionOption.name}}</nb-radio>                          
                          </nb-radio-group>                                             
                    </div>
                </div>  
                </div>
                  <br>
                  <div class="input-group" *ngIf='selectedDrugReaction == true'>
                      <textarea rows="2" placeholder="Text Area" class="form-control" formControlName="DrugReactionText" [(ngModel)] = "selectedDrugReactionText" name="DrugReactionTextName"></textarea>
                  </div>
                  <br>
                  
                  <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
                
            </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </form>
