<form [formGroup]=" XRayTestForm" (ngSubmit)="submitXRayTestForm( XRayTestForm)">

  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        X-Ray Test
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <h6>X-Ray Test :</h6>
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedXRay" formControlName="XRayTest" name='XRay'>
              <nb-radio *ngFor="let XRayOption of XRayOptions" [value]="XRayOption.value">
                {{ XRayOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>
        <div *ngIf='selectedXRay == true'>
          <textarea rows="5" style="overflow:scroll;" placeholder="Details" class="form-control"
            formControlName="XRayTestDetails" [(ngModel)]="xRayTestDetails"></textarea>
        </div>

        <br>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>


</form>