<form [formGroup]="headacheDetailsForm" (ngSubmit)="submitHeadacheDetailsForm(headacheDetailsForm)">
  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Patient Headache Details
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        Heaviness:
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedHeaviness" formControlName="HeadHeaviness" name='Heaviness'>
              <nb-radio *ngFor="let  heavinessOption of  heavinessOptions" [value]=" heavinessOption.value">
                {{heavinessOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>
        Headache:
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedHeadache" formControlName="Headache" name='Headache'>
              <nb-radio *ngFor="let  headacheOption of  headacheOptions" [value]=" headacheOption.value">
                {{headacheOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>
        <div *ngIf='selectedHeadache == true'>
          <label>Where</label>
          <div class="col-sm-6">
            <div class="form-group">
              <select class="form-control" formControlName="HeadacheArea" [(ngModel)]="heachacheArea">
                <option>Frontal</option>
                <option>Lt.Temporal</option>
                <option>Rt.Temporal</option>
                <option>Lt.Maxillary</option>
              </select>
            </div>
          </div>
        </div>
        <br>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</form>