<form [formGroup]="skin2Form" (ngSubmit)="submitSkin2Form(skin2Form)">

  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Skin Information (continued...)
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <label>Do they appear and Disappear :</label>
        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control" formControlName="SkinAppearandDisAppear" [(ngModel)]="skinAppearandDisAppear">
              <option>With Patch</option>
              <option>Without Patch</option>
            </select>
          </div>
        </div>
        <label>Patch Color :</label>
        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control" formControlName="SkinPatchColor" [(ngModel)]="skinPatchColor">
              <option>Black</option>
              <option>Brown</option>
              <option>Red</option>
              <option>White</option>
            </select>
          </div>
        </div>
        <label>Do they Appear at :</label>
        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control" formControlName="PatchColorAppear" [(ngModel)]="patchColorAppear">
              <option>Early Morning</option>
              <option>Late Morning</option>
              <option>Afternoon</option>
              <option>Evening</option>
            </select>
          </div>
        </div>
        <h6>Do they :</h6>
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedPatchColorIncrease" formControlName="PatchColorIncrease"
              name='PatchColorIncrease'>
              <nb-radio *ngFor="let patchColorIncreaseOption of patchColorIncreaseOptions"
                [value]="patchColorIncreaseOption.value">
                {{ patchColorIncreaseOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>
        <!-- <div *ngIf='selectedPatchColorIncrease == true'> -->
        <label>When :</label>
        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control" formControlName="PatchColorTiming" [(ngModel)]="patchColorTiming">
              <option>Early Morning</option>
              <option>Late Morning</option>
              <option>Afternoon</option>
              <option>Evening</option>
            </select>
          </div>
        </div>

        <label>Do they Disappear at :</label>
        <div class="col-sm-6">
          <div class="form-group">
            <select class="form-control" formControlName="PatchColorDisappear" [(ngModel)]="patchColorDisappear">
              <option>Early Morning</option>
              <option>Late Morning</option>
              <option>Afternoon</option>
              <option>Evening</option>
            </select>
          </div>
        </div>
        <!-- </div> -->
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>



</form>