<form [formGroup]="respiratorySystem3Form" (ngSubmit)="submitRespiratoySystem3Form(respiratorySystem3Form)">
    <nb-accordion>
        <nb-accordion-item #item>
            <nb-accordion-item-header class="text-white">
                Respiratory System 3
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <h6>Shape of Chest : </h6>
                <div class="col-sm-4">
                    <div class="form-group">
                        <nb-select outline placeholder="Select" [(ngModel)]="selectedChestShape"
                            formControlName="ChestShape" status="info">
                            <nb-option value="Option 1">Option 1</nb-option>
                            <nb-option value="Option 2">Option 2</nb-option>
                            <nb-option value="Option 3">Option 3</nb-option>
                            <nb-option value="Option 4">Option 4</nb-option>
                        </nb-select>
                    </div>
                </div>
                <h6>Crepetations</h6>
                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">
                        <nb-radio-group [(ngModel)]="selectedOption1" formControlName="ChestCrepitations"
                            name="YesNoOption1">
                            <nb-radio *ngFor="let option of options" [value]="option.value">{{ option.name}}</nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
                <h6>Rales :</h6>

                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">
                        <nb-radio-group [(ngModel)]="selectedOption2" formControlName="ChestRales" name="YesNoOption2">
                            <nb-radio *ngFor="let option of options" [value]="option.value">{{ option.name}}</nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
                <h6>Rhonchi</h6>
                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">
                        <nb-radio-group [(ngModel)]="selectedOption3" formControlName="ChestRhonchi"
                            name="YesNoOption3">
                            <nb-radio *ngFor="let option of options" [value]="option.value">{{ option.name}}</nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
                <h6>Inspiratory/Expiratory/Both :</h6>
                <div>
                    <div class="col-sm-6">
                        <div class="demo-radio col-sm-4">
                            <nb-radio-group [(ngModel)]="selectedinspiratory" formControlName="ChestRhonchiType"
                                name="inspiratory">
                                <nb-radio *ngFor="let option of inspiratoryoptions" [value]="option.value">
                                    {{ option.name}}</nb-radio>
                            </nb-radio-group>
                        </div>
                    </div>
                </div>

                <h6>Musical/Rough/Both :</h6>
                <div>
                    <div class="col-sm-6">
                        <div class="demo-radio col-sm-4">
                            <nb-radio-group [(ngModel)]="selectedmusical" formControlName="WheezingTone" name="musical">
                                <nb-radio *ngFor="let option of musicaloptions" [value]="option.value">{{ option.name}}
                                </nb-radio>
                            </nb-radio-group>
                        </div>
                    </div>
                </div>
                <button nbButton class="btn btn-info btn-lg float-right" status="info" [nbSpinner]="loading"
                    nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="">Submit</button>

            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</form>