<form [formGroup]="provisionalDiagnosisForm" (ngSubmit)="submitProvisionalDiagnosisForm(provisionalDiagnosisForm)">
  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Patient Provisional Diagnosis
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <label>Provisional Diagnosis Details :</label>
        <div class="input-group has-person-icon">
          <textarea rows="3" placeholder="" class="form-control" [(ngModel)]="ProvisionalDetails"
            formControlName="ProvisionalDetails" name='ProvisionalDetails'></textarea>
        </div><br>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</form>