<form [formGroup]="lungFunctionTestForm" (ngSubmit)="submitLungFunctionTestForm(lungFunctionTestForm)">

  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Lung Function Test
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <h6>Lung Function Test:</h6>
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="lungFunctionTest" formControlName="LungFunctionTest" name='LungFunctionTest'>
              <nb-radio *ngFor="let lungFunctionTestOption of lungFunctionTestOptions"
                [value]="lungFunctionTestOption.value">
                {{ lungFunctionTestOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div><br>
        <div *ngIf='lungFunctionTest == true'>
          <input class="btn btn-primary btn-tn" type="file" id="myFile" [(ngModel)]="file" formControlName="File"
            name="File"> </div>
            {{file}}
        <br>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>


</form>