<form [formGroup]="stoolTestForm" (ngSubmit)="submitStoolTestForm(stoolTestForm)">

  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Stool Test
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <h6>Stool Test :</h6>
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedStool" formControlName="StoolTest" name='Stool'>
              <nb-radio *ngFor="let stoolOption of stoolOptions" [value]="stoolOption.value">
                {{ stoolOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>
        <div *ngIf='selectedStool == true'>
          <textarea rows="5" style="overflow:scroll;" placeholder="Details" class="form-control"
            formControlName="StoolTestDetails" [(ngModel)]="stoolTestDetails"></textarea>
        </div>

        <br>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>

      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>

</form>