<form [formGroup]="presentNonAllergicForm" (ngSubmit)="submitPresentNonAllergic(presentNonAllergicForm)">
  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Present Non Allergic
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        Diabetic:
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedDiabetic" formControlName="Diabetic" name='Diabetic'>
              <nb-radio *ngFor="let  diabeticOption of  diabeticOptions" [value]="diabeticOption.value">
                {{diabeticOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div><br>
        <div *ngIf='selectedDiabetic == true'>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputFirstName">How Long</label>
              <input type="text" class="form-control" [(ngModel)]="DiabeticHowLong" formControlName="DiabeticHowLong"
                name='DiabeticHowLong'>
            </div>
          </div>
          <br>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputFirstName">Medication</label>
              <!-- <select class="form-control" [(ngModel)]="DiabeticMedication" formControlName="DiabeticMedication"
              name='DiabeticMedication'>
                <option>--Select a value--</option>
                <option>Null</option>
              </select> -->
              <div class="input-group">
                <textarea placeholder="DiabeticMedication" class="form-control" [(ngModel)]="DiabeticMedication"
                  formControlName="DiabeticMedication" name='DiabeticMedication'></textarea>
              </div>
            </div>
          </div>
          <br>
        </div>
        Under Control:
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedControl" formControlName="DiabeticUnderControl"
              name='DiabeticUnderControl'>
              <nb-radio *ngFor="let  controlOption of  controlOptions" [value]="controlOption.value">
                {{controlOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div><br>

        Hypertensive:
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedHypertensive" formControlName="Hypertensive" name='Hypertensive'>
              <nb-radio *ngFor="let  hypertensiveOption of  hypertensiveOptions" [value]="hypertensiveOption.value">
                {{hypertensiveOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div><br>
        <div *ngIf='selectedHypertensive == true'>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputFirstName">How Long</label>
              <input type="text" class="form-control" [(ngModel)]="HypertensiveHowLong"
                formControlName="HypertensiveHowLong" name='HypertensiveHowLong'>
            </div>
          </div>
          <br>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputFirstName">Medication</label>
              <div class="input-group">
                <textarea placeholder="HypertensiveMedication" class="form-control" [(ngModel)]="HypertensiveMedication"
                  formControlName="HypertensiveMedication" name='HypertensiveMedication'></textarea>
              </div>
            </div>
          </div>
        </div>
        Under Control:
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedHypertensiveControl" formControlName="HypertensiveControl"
              name='HypertensiveControl'>
              <nb-radio *ngFor="let  hypertensiveControlOption of  hypertensiveControlOptions"
                [value]="hypertensiveControlOption.value">
                {{hypertensiveControlOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div><br>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</form>