<form [formGroup]="respiratorySystem2Form" (ngSubmit)="submitRespiratoySystem2Form()">

    <nb-accordion>
        <nb-accordion-item #item>
            <nb-accordion-item-header class="text-white">
                Respiratory System 2
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <h6>Phlegm thick or Watery or Both : </h6>
                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">
                        <div>
                            <nb-radio-group [(ngModel)]="selectedPlegmThickness" formControlName="PhlegmThickness"
                                name="PhlemType">
                                <nb-radio *ngFor="let pthickness of phlegmThicknessoptions" [value]="pthickness.value">
                                    {{pthickness.name}}</nb-radio>
                            </nb-radio-group>
                        </div>
                    </div>
                </div>
                <h6>Blood in it : </h6>

                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">

                        <nb-radio-group [(ngModel)]="selectedPhlegmBlood" formControlName="PhlegmwithBlood"
                            name='Blood'>
                            <nb-radio *ngFor="let pblood of phlegmBloodOptions" [value]="pblood.value">{{ pblood.name}}
                            </nb-radio>
                        </nb-radio-group>
                    </div>
                </div>

                <div class="col-sm-4">

                    <div class="form-group" *ngIf='selectedPhlegmBlood == true'>

                        <nb-select outline placeholder="Select" formControlName="PhlegmBloodColor"
                            [(ngModel)]="this.patientService.patientRespiratoryDetails['PhlegmBloodColor']"
                            status="info">
                            <nb-option value="Red">Red</nb-option>
                            <nb-option value="Brown">Brown</nb-option>
                            <nb-option value="Black">Black</nb-option>
                            <nb-option value="Small Quantity">Small Quantity</nb-option>
                        </nb-select>
                    </div>
                </div>
                <h6>Bad smell in Phlegm </h6>

                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">

                        <nb-radio-group [(ngModel)]="selectedPhlegmSmell" formControlName="PhlegmSmell"
                            name='PhlegmSmell'>
                            <nb-radio *ngFor="let pSmell of phlegmSmellOptions" [value]=" pSmell.value">
                                {{  pSmell.name}}</nb-radio>
                        </nb-radio-group>
                    </div>
                </div>

                <div class="col-sm-4">

                    <div class="form-group" *ngIf='selectedPhlegmSmell == true'>

                        <nb-select outline placeholder="Select" formControlName="PhlegmTiming"
                            [(ngModel)]="this.patientService.patientRespiratoryDetails['PhlegmTiming']" status="info">
                            <nb-option value="Early Morning">Early Morning</nb-option>
                            <nb-option value="Late Morning">Late Morning</nb-option>
                            <nb-option value="Afternoon">Afternoon</nb-option>
                            <nb-option value="Evening">Evening</nb-option>
                        </nb-select>
                    </div>
                </div>

                <button nbButton class="btn btn-info btn-lg float-right" status="info" [nbSpinner]="loading"
                    nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="">Submit</button>

            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</form>