nb-accordion-item-header{
    background-color:#a5a7a8;   
}
.RbtnMargin { margin-right: 7px; }
.LbtnMargin { margin-right: 7px; }


.datePicker{
    width: 39rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.modify{
  float:right;
  cursor: pointer;
  width:4%;
  height:4%;
  margin-right:10px;
}
.labelClass{
  float: left;
  width: 113px;
}