<form [formGroup]="alcoholHabitsDetailsForm" (ngSubmit)="submitAlcoholHabitsDetailsForm(alcoholHabitsDetailsForm)">
    <br>
    <nb-accordion>
        <nb-accordion-item>
            <nb-accordion-item-header class="text-white">
                Habits Alcohol
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <h6>Drinking</h6>
                <br>
                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">
                        <nb-radio-group [(ngModel)]="selectedAlcoholHabits" formControlName="AlcoholHabits"
                            name='AlcoholHabits'>
                            <nb-radio *ngFor="let alcoholHabitsOption of alcoholHabitsOptions"
                                [value]="alcoholHabitsOption.value">
                                {{ alcoholHabitsOption.name}}</nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
                <br>
                <div *ngIf='selectedAlcoholHabits == true'>
                    <div>
                        <span class="labelClass"> What</span>
                        <!-- <input type="text" name="FirstName" value="Mickey" [(ngModel)]="alcoholName"> -->
                        <input type="text" placeholder="Alcohol Name" formControlName="AlcoholName"
                            [(ngModel)]="alcoholName">
                    </div>
                    <br>
                    <div>
                        <span class="labelClass"> Quantity </span>
                        <!-- <input type="text" name="FirstName" value="Mickey"> -->
                        <input type="text" placeholder="Quantity" formControlName="AlcoholQuantity"
                            [(ngModel)]="alcoholQuantity">
                    </div>
                    <br>
                    <div class="form-group">
                        <span class="labelClass"> How often :</span>
                        <!-- <input type="text"  formControlName="AlcoholFrequency"
                            [(ngModel)]="alcoholFrequency"> -->
                        <select outline [(ngModel)]="selectedAlcoholFrequency" placeholder="Select"
                            formControlName="AlcoholFrequency" status="info">
                            <option>Daily</option>
                            <option>2-3 Times a week</option>
                            <option>Rarely</option>
                        </select>
                    </div>
                    <br>

                </div>

                <h6>Any Change</h6>
                <br>

                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">
                        <nb-radio-group [(ngModel)]="selectedAlcoholHabitsChange" formControlName="AlcoholHabitsChange"
                            name='AlcoholHabitsChange'>
                            <nb-radio *ngFor="let alcoholHabitsChangeOption of alcoholHabitsChangeOptions"
                                [value]="alcoholHabitsChangeOption.value" (change)="changeHabits()">
                                {{ alcoholHabitsChangeOption.name}}
                            </nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
                <br>
                <div *ngIf="selectedAlcoholHabitsChange == true">
                    <div>
                        <label>What changes :</label>
                        <textarea rows="5" placeholder="Text Area" class="form-control"
                            [(ngModel)]="alcoholHabitsAnyChange" formControlName="AlcoholHabitsAnyChange"></textarea>
                    </div>
                </div>
                <br>
                <!-- <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
                    nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button> -->
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>

    <br>
    <br>

    <nb-accordion>

        <nb-accordion-item>
            <nb-accordion-item-header class="text-white">
                Habits Alcohol Earlier
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <h6>Alcohol Consumption Earlier :</h6>
                <br>
                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">
                        <nb-radio-group [(ngModel)]="selectedAlcoholHabitsEarlier"
                            formControlName="AlcoholHabitsEarlier" name='AlcoholHabitsEarlier'>
                            <nb-radio *ngFor="let alcoholHabitsEarlierOption of alcoholHabitsEarlierOptions"
                                [value]="alcoholHabitsEarlierOption.value" (change)="change()">
                                {{ alcoholHabitsEarlierOption.name}}
                            </nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
                <br>
                <div *ngIf='selectedAlcoholHabitsEarlier == true'>
                    <div>

                        <span class="labelClass"> What</span>
                        <!-- <input type="text" name="FirstName" value="Mickey" [(ngModel)]="alcoholName"> -->
                        <input type="text" placeholder="Alcohol Name" formControlName="HistoricalAlcoholName"
                            [(ngModel)]="historicalAlcoholName">
                    </div>
                    <br>
                    <div>
                        <span class="labelClass"> Quantity </span>
                        <!-- <input type="text" name="FirstName" value="Mickey"> -->
                        <input type="text" placeholder="Quantity" formControlName="HistoricalAlcoholQuantity"
                            [(ngModel)]="historicalAlcoholQuantity">
                    </div>
                    <br>
                    <div class="form-group">
                        <span class="labelClass"> How often :</span>
                        <!-- {{historicalAlcoholFrequency}} -->
                        <select outline [(ngModel)]="historicalAlcoholFrequency" placeholder="Select"
                            formControlName="HistoricaAlcoholFrequency" status="info">
                            <option>Daily</option>
                            <option>2-3 Times a week</option>
                            <option>Rarely</option>
                        </select>
                    </div>

                    <!-- <div class="form-group">
                        <span class="labelClass"> How often :</span>
                            <select outline [(ngModel)]="selectedAlcoholFrequency" placeholder="Select"
                            formControlName="AlcoholFrequency" status="info">
                            <option>Daily</option>
                            <option>2-3 Times a week</option>
                            <option>Rarely</option>
                        </select>
                    </div> -->
                    <br>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="date" placeholder="When did you quit" class="form-control"
                                [(ngModel)]="historicalAlcoholQuitDate" formControlName="HistoricalAlcoholQuitDate">
                        </div>
                    </div>
                    <br>
                </div>

                <h6>Any Change</h6>
                <br>

                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">
                        <nb-radio-group [(ngModel)]="selectedAlcoholHabitsEarlierChange"
                            formControlName="AlcoholHabitsEarlierChange" name='AlcoholHabitsEarlierChange'>
                            <nb-radio *ngFor="let alcoholHabitsEarlierChangeOption of alcoholHabitsEarlierChangeOptions"
                                [value]=" alcoholHabitsEarlierChangeOption.value" (change)="change()">
                                {{  alcoholHabitsEarlierChangeOption.name}}
                            </nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
                <br>
                <div *ngIf='selectedAlcoholHabitsEarlierChange == true'>
                    <div>
                        <label>What changes :</label>
                        <textarea rows="5" placeholder="Text Area" class="form-control"
                            [(ngModel)]="alcoholHabitsEarlierAnyChange"
                            formControlName="AlcoholHabitsEarlierAnyChange"></textarea>
                    </div>
                </div>
                <!-- <button type="submit" class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
            nbSpinnerSize="large" nbSpinnerMessage="">Submit</button>  -->
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>

    <br>
    <br>

    <nb-accordion>

        <nb-accordion-item>
            <nb-accordion-item-header class="text-white">
                Chewing
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <h6>Chewing :</h6>
                <br>
                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">
                        <nb-radio-group [(ngModel)]="selectedChewingHabits" formControlName="ChewingHabits"
                            name='ChewingHabits'>
                            <nb-radio *ngFor="let ChewingHabitsOption of ChewingHabitsOptions"
                                [value]="ChewingHabitsOption.value" (change)="change()">
                                {{ ChewingHabitsOption.name}}
                            </nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
                <br>
                <div *ngIf='selectedChewingHabits == true'>
                    <div class="form-group">
                        <span class="labelClass"> Substance :</span>
                        <select [(ngModel)]="chewingSubstance" formControlName="ChewingSubstance"
                            name='chewingSubstance'>
                            <option>Chocolate</option>
                            <option>Chewing Gum</option>
                            <option>Beetel Nuts</option>
                            <option>Pan</option>
                            <option>tobaco</option>
                        </select>
                    </div>
                    <br>

                </div>

                <br>
                <br>

                <h6>Chewing Earlier:</h6>
                <br>
                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">
                        <nb-radio-group [(ngModel)]="selectedChewingEarlierHabits"
                            formControlName="ChewingHabitsEarlier" name='ChewingHabitsEarlier'>
                            <nb-radio *ngFor="let ChewingHabitsEarlierOption of ChewingHabitsEarlierOptions"
                                [value]="ChewingHabitsEarlierOption.value" (change)="change()">
                                {{ ChewingHabitsEarlierOption.name}}
                            </nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
                <br>
                <div *ngIf='selectedChewingEarlierHabits == true'>
                    <div>
                        <span class="labelClass"> Substance do you chew : </span>
                        <select [(ngModel)]="HistoricalChewingSubstance" formControlName="HistoricalChewingSubstance"
                        name='HistoricalChewingSubstance'>
                        <option>Chocolate</option>
                        <option>Chewing Gum</option>
                        <option>Beetel Nuts</option>
                        <option>Pan</option>
                        <option>tobaco</option>
                    </select>
                    </div>
                    <br>

                    <div class="form-group">
                        <div class="input-group">
                            <input type="date" placeholder="When did you quit" class="form-control"
                                [(ngModel)]="chewingQuitDate" formControlName="ChewingQuitDate">
                        </div>
                    </div>
                </div>
                <!-- <button type="submit" class="btn btn-info btn-lg float-right" [nbSpinner]="loading"
                        nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="">Submit</button> -->
            </nb-accordion-item-body>
        </nb-accordion-item>
        <br>
        <br>
    </nb-accordion>
    <br>
    <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
        nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
</form>