<form [formGroup]="presentNonAllergicGerdForm" (ngSubmit)="submitPresentNonAllergicGERD(presentNonAllergicGerdForm)">
  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Present Non Allergic Gerd
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        Gerd:
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedGerd" formControlName="Gerd" name='Gerd'>
              <nb-radio *ngFor="let  gerdOption of  gerdOptions" [value]="gerdOption.value">
                {{gerdOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>
        <div *ngIf='selectedGerd == true'>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputFirstName">How Long</label>
              <input type="text" class="form-control" [(ngModel)]="GerdHowLong" formControlName="GerdHowLong"
                name='GerdHowLong'>

            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputFirstName">Medication</label>
              <div class="input-group">
                <textarea placeholder="GerdMedication" class="form-control" [(ngModel)]="GerdMedication"
                  formControlName="GerdMedication" name='GerdMedication'></textarea>
              </div>
            </div>
          </div>
        </div>
        Under Control:
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedGerdControl" formControlName="GerdUnderControl"
              name='GerdUnderControl'>
              <nb-radio *ngFor="let  gerdControlOption of  gerdControlOptions" [value]="gerdControlOption.value">
                {{gerdControlOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div><br>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</form>