<form [formGroup]="urineTestForm" (ngSubmit)="submitUrineTestForm(urineTestForm)">

  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Urine Test
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <h6>Urine Test :</h6>
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedUrine" formControlName="UrineTest" name='Urine'>
              <nb-radio *ngFor="let urineOption of urineOptions" [value]="urineOption.value">
                {{ urineOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div><br>
        <div *ngIf='selectedUrine == true'>
          <textarea rows="5" style="overflow:scroll;" placeholder="Details" class="form-control"
            formControlName="UrineTestDetails" [(ngModel)]="urineDetails"></textarea>
        </div>
        <br>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>

 

</form>