<!-- <div class="container">
  <h5>All Patient Details</h5>
  <br>
  <br>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Age</th>
        <th>Contact Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>30</td>
        <td>9898090909</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td>40</td>
        <td>9898090908</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td>50</td>
        <td>9898090907</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>30</td>
        <td>9898090909</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td>40</td>
        <td>9898090908</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td>50</td>
        <td>9898090907</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>30</td>
        <td>9898090909</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td>40</td>
        <td>9898090908</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td>50</td>
        <td>9898090907</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>30</td>
        <td>9898090909</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td>40</td>
        <td>9898090908</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td>50</td>
        <td>9898090907</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>30</td>
        <td>9898090909</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
        <td>40</td>
        <td>9898090908</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
        <td>50</td>
        <td>9898090907</td>
      </tr>
    </tbody>
  </table>
</div> -->
<!-- <form [formGroup]="updatePatientForm" (ngSubmit)="updatePatientByMobileNumber()" class="needs-validation"> -->

<!--Patient Contact Details-->
<nb-accordion>
  <nb-accordion-item expanded='true'>
    <nb-accordion-item-header class="text-white">
      All Patient Details
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="table-responsive">
        <table class="table">
          <!-- <tbody>
                <tr *ngFor=let rowData of data | orderBy:convertSorting()>
                    <td *ngFor=let column of columns>
                         {{rowData[column.columnValue] | format:column.filter}}
                    </td>
                 <td (click)="LinktoCity(column.city)">{{city}}</td>
             
                </tr>
             </tbody> -->

          <thead class="thead-light">
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Age</th>
              <th>Contact Number</th>
              <th>Place</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of patient_list">
              <!-- {{list}} -->

              <!-- href="/#/pages/patient-profile/update-patient" -->
              <!-- <a style="cursor: pointer;" (click)=UpdateList(list.mobileNo)> -->

              <td> <a style="cursor: pointer;" (click)=UpdateList(list.mobileNo)> {{list.firstName}}
                  {{list.lastName}}</a>
              </td>
              <!-- </a> -->
              <!-- <td>
                {{list.firstName}} {{list.lastName}} </td> -->
              <td>{{list.emailId}}</td>
              <td>{{list.age}}</td>
              <td>{{list.mobileNo}}</td>
              <td>{{list.city}}</td>
              <!-- <td>john@example.com</td>
            <td>30</td>
            <td>9881016243</td>
            <td>Baramati</td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <br>
      <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button> -->

    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>
<!-- </form> -->