// @import '../../styles/themes';
// @import '~@nebular/theme/styles/global/breakpoints';
// @import '~bootstrap/scss/mixins/breakpoints';

// @include nb-install-component() {
//   width: 100%;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;

//   .socials {
//     font-size: 2rem;

//     a {
//       padding: 0.4rem;
//       color: nb-theme(color-fg);
//       transition: color ease-out 0.1s;

//       &:hover {
//         color: nb-theme(color-fg-heading);
//       }
//     }
//   }

//   @include media-breakpoint-down(is) {
//     .socials {
//       font-size: 1.5rem;
//     }
//   }
// }
span.footer-content{
  font-size: 18px;
  display:table;
  margin-left: auto;
  margin-right: auto;
  
}

// <span class = 'footer-content' class="created-by"><a href="#">Privacy Policy</a> | <a href="#"> Terms of use </a>| <a href="#">Contact</a> |<a href="#"> Support </a>
//     &nbsp;&nbsp;&nbsp;&nbsp;Email :<b> idoctor.solutions@gmail.com</b></span>