<form [formGroup]="respiratorySystem1Form" (ngSubmit)="submitRespiratoySystem1Form()">
    <nb-accordion>
        <nb-accordion-item #item>
            <nb-accordion-item-header class="text-white">
                Respiratory System 1
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <h6>Cough : </h6>
                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">
                        <div>
                            <nb-radio-group [(ngModel)]="selectedCoughOption" formControlName="Cough"
                                name='CoughOption'>
                                <nb-radio *ngFor="let option1 of options" [value]="option1.value">{{option1.name}}
                                </nb-radio>
                            </nb-radio-group>
                        </div>
                    </div>
                </div>

                <div *ngIf='selectedCoughOption == true'>
                    <div>
                        <h6>Continuous or Sometimes : </h6>

                        <div class="demo-radio col-sm-4">
                            <div>
                                <nb-radio-group [(ngModel)]="coughContinous" formControlName="CoughContinous"
                                    name="CoughContinuousOption">
                                    <nb-radio *ngFor="let option2 of coughContinuousOptions" [value]="option2.value">
                                        {{option2.name}}</nb-radio>
                                </nb-radio-group>
                            </div>
                        </div>

                        <h6>Dry or with Phlegm : </h6>

                        <div class="col-sm-6">
                            <div class="demo-radio col-sm-4">
                                <div>
                                    <nb-radio-group [(ngModel)]="coughType" formControlName="CoughType"
                                        name="CoughType">
                                        <nb-radio *ngFor="let option3 of coughTypeOptions" [value]="option3.value">
                                            {{option3.name}}</nb-radio>
                                    </nb-radio-group>
                                </div>
                            </div>
                        </div>
                        <h6>Phlegm type : </h6>

                        <div class="col-sm-6">
                            <div class="demo-radio col-sm-4">
                                <div>
                                    <nb-radio-group [(ngModel)]="phelgmType" formControlName="PhelgmType"
                                        name="PhlegmtypeOption">
                                        <nb-radio *ngFor="let option4 of phlegmTypeptions" [value]="option4.value">
                                            {{option4.name}}</nb-radio>
                                    </nb-radio-group>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <!-- [(selected)]="selectedItem" -->
                                <nb-select outline placeholder="Colour" formControlName="PhlegmColor"
                                    [(ngModel)]="phlegmColor" status="info">
                                    <nb-option value="Colorless">Colorless</nb-option>
                                    <nb-option value="White">White</nb-option>
                                    <nb-option value="Yellow">Yellow</nb-option>
                                    <nb-option value="Green">Green</nb-option>
                                </nb-select>
                            </div>
                        </div>
                    </div>

                </div>

                <br>
                <button nbButton class="btn btn-info btn-lg float-right" status="info" [nbSpinner]="loading"
                    nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="">Submit</button>


            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</form>