<form [formGroup]="femalePersonalChildrenDetailsForm"
  (ngSubmit)="submitFemalePersonalChildrenDetailsForm(femalePersonalChildrenDetailsForm)">
  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Female Personal Children
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <h6>Children :</h6>
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedChildren" formControlName="HaveChildren" name='HaveChildren'>
              <nb-radio *ngFor="let childrenOption of childrenOptions" [value]="childrenOption.value">
                {{ childrenOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>
        <div class="col-sm-4">
          <div *ngIf='selectedChildren == true'>
            <label>How Many ?</label>
            <div class="input-group">
              <input type="Number" placeholder="How Many" class="form-control" formControlName="NoofChildren"
                [(ngModel)]="noofChildren" />
            </div>
            <br>
            <label>Type of Delivery :</label>
            <div class="form-group">
              <select class="form-control" formControlName="FemalDeliveryType" [(ngModel)]="femalDeliveryType">
                <option>Normal</option>
                <option>Forceps</option>
                <option>Induction</option>
                <option>Caesarian</option>
              </select>
            </div>
          </div>
        </div>
        <h6>Abortions :</h6>
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedAbortions" formControlName="Aboritions" name='Aboritions'>
              <nb-radio *ngFor="let abortionsOption of abortionsOptions" [value]="abortionsOption.value">
                {{ abortionsOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>

        <div class="col-sm-6">
          <div *ngIf='selectedAbortions == true'>
            <label>How Many ?</label>
            <div class="input-group">
              <input type="Number" placeholder="How Many" class="form-control" formControlName="NoofAbortions"
                [(ngModel)]="noofAbortions" />
            </div>
            <br>
            <div class="form-group">
              <label>What changes :</label>
              <textarea rows="5" placeholder="Details" class="form-control" formControlName="ReasonforAbortion"
                [(ngModel)]="reasonforAbortion"></textarea>
            </div>

          </div>
        </div>
        <h6>Still Births :</h6>
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedBirths" formControlName="Births" name='Births'>
              <nb-radio *ngFor="let BirthsOption of BirthsOptions" [value]="BirthsOption.value">
                {{ BirthsOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>

        <div *ngIf='selectedBirths == true'>
         <label>Problems after still birth or abortions</label>
            <div class="input-group">
              <input type="Number" placeholder="Problems after still birth or abortions" class="form-control"
                [(ngModel)]="ProblemsAfterBirth" formControlName="ProblemsAfterBirth" />
            </div>
          </div>
        
        <br>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</form>