
<!--allergy factor 6 data already included in allergy factor 5-->


<!-- <nb-card>
    <form [formGroup]="allergyFactor6Form" (ngSubmit)="submitAllergyFactor6Form()">       
        <nb-accordion>
          <nb-accordion-item #item>
                <nb-accordion-item-header class="text-white">
                  Allergy Factor 6
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                      <h6>Blankets: </h6>
                      <br>
                      <div class="form-group validation-checkboxes row">
                        <nb-checkbox status="success" class="col-sm-4" formControlName="Blankets" [(ngModel)] = "WoollenCheckBox" value="Woollen">woollen</nb-checkbox>
                        <nb-checkbox status="success" class="col-sm-4" formControlName="Blankets" [(ngModel)] = "CottonCheckBox" value="Cotton">cotton</nb-checkbox>
                        <nb-checkbox status="success" class="col-sm-4" formControlName="Blankets" [(ngModel)] = "SilkCheckBox" value="Silk">silk</nb-checkbox><br>
                        <nb-checkbox status="success" class="col-sm-4" formControlName="Blankets" [(ngModel)] = "SyntheticCheckBox" value="Synthetic">synthetic</nb-checkbox>
                        <nb-checkbox status="success" class="col-sm-4" formControlName="Blankets" [(ngModel)] = "PolysterCheckBox" value="Polyester">polyester</nb-checkbox>
                      </div>  -->
                     
                      <!--* <div class="form-group validation-checkboxes row" *ngFor="let data of blankets">
                        <nb-checkbox  class="col-sm-4" formControlName="Blankets" (change)="onChange(data.blanket, $event.target.checked)">{{data.blanket}}</nb-checkbox>
                      </div> *-->
                      <!-- <br>
                      <br>
                      <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
                </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
    </form>
</nb-card> -->