<form [formGroup]="prickTestForm" (ngSubmit)="submitPrickTestForm(prickTestForm)">

  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Prick Test Results
      </nb-accordion-item-header>
      <nb-accordion-item-body>

        <div class="table-responsive">
          <table class="table">
            <thead>
              <button (click)="onAddRow()" *ngIf="prickTestForm.get('rows')" type="button">add row</button>
            </thead>
            <tbody>
              <tr *ngFor="let row of prickTestForm.get('rows')?.controls;let index = index;">
                <td>
                  Name : <input [formControl]="row.get('Name')">
                </td>
                <td>
                  Intensity : <input [formControl]="row.get('Intensity')">
                </td>
                <td>
                  sign: <input [formControl]="row.get('sign')">
                </td>
                <td>
                  pseudocode: <input [formControl]="row.get('pseudocode')">
                </td>
              </tr>
            </tbody>

            <tbody>
              <tr *ngFor="let te of test">

                <td>
                  Name : <input [formControl]="te.Name" [value]=te.Name>
                </td>
                <td>
                  Intensity : <input [formControl]="te.Intensity" [value]=te.Intensity>
                </td>
                <td>
                  sign: <input [formControl]="te.sign" [value]=te.sign>
                </td>
                <td>
                  pseudocode: <input [formControl]="te.pseudocode" [value]=te.pseudocode>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <br>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info" type="submit">Submit</button>
        <!-- <pre>{{rows.value | json}}</pre> -->
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>

</form>