<form [formGroup]="CTScanTestForm" (ngSubmit)="submitCTScanTestForm(CTScanTestForm)">

  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        CT-Scan Test
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <h6>CT-Scan Test :</h6>
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedCTscan" formControlName="CTScan" name='CTscan'>
              <nb-radio *ngFor="let CTscanOption of CTscanOptions" [value]="CTscanOption.value">
                {{ CTscanOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>
        <div *ngIf='selectedCTscan == true'>
          <textarea rows="5" style="overflow:scroll;" placeholder="Details" class="form-control"
            formControlName="CTScanDetails" [(ngModel)]="ctScanDetails"></textarea>
        </div>

        <br>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>


</form>