<form [formGroup]="MRITestForm" (ngSubmit)="submitMRITestForm(MRITestForm)">

  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        M.R.I Test
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <h6> M.R.I Test :</h6>
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="mriTest" formControlName="MRITest" name='MRITest'>
              <nb-radio *ngFor="let MRITestOption of MRITestOptions" [value]="MRITestOption.value">
                {{ MRITestOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>
        <div *ngIf='mriTest == true'>
          <textarea rows="5" style="overflow:scroll;" placeholder="Details" class="form-control"
            formControlName="MRITestDetails" [(ngModel)]="MRITestDetails"></textarea>
        </div>

        <br>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>


</form>