
    <form [formGroup]="allergyHistory1Form" (ngSubmit)="submitAllergyHistory1Form()">    
        <nb-accordion>
          <nb-accordion-item #item>
                <nb-accordion-item-header class="text-white">
                      Allergy History (Variations in Seasons)
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                      <h6>Variations in Seasons : </h6>
                      <br>
                      <div class="col-sm-6">     
                          <div class="demo-radio col-sm-4">
                              <nb-radio-group [(ngModel)]="selectedSeason" formControlName="Season" name = "Season">
                                  <nb-radio *ngFor="let seasonOption of seasonOptions " [value]="seasonOption.value">{{ seasonOption.name}}</nb-radio>                          
                              </nb-radio-group>
                          </div>
                      </div> 
                      <br>
                      <div *ngIf='selectedSeason == "true"'>
                            <h6 >Summer Season : </h6>
                            <br>
                            <div class="col-sm-6" *ngIf='selectedSeason == "true"'>     
                                <div class="demo-radio col-sm-4">
                                    <nb-radio-group [(ngModel)]="selectedSummerSeason" formControlName="Summer" name="SummerSeason"> 
                                        <nb-radio *ngFor="let summerOption of summerOptions" [value]="summerOption.value">{{ summerOption.name}}</nb-radio>                          
                                    </nb-radio-group>
                                </div>
                            </div> 
                            <br>
                            
                            <div class="col-sm-4">
                                <div class="form-group"  *ngIf='selectedSummerSeason == "true"'>          
                                    <nb-select outline  [(selected)] = "selectedSummer" placeholder="Select" id="firstPlaceSymptom" formControlName="SummerSymptoms" [(ngModel)] = "selectedSummerSymptoms" status="info">
                                      <nb-option  value="Symptoms Increase">Symptoms Increase</nb-option>
                                      <nb-option  value="Symptoms Decrease">Symptoms Decrease</nb-option>
                                      <nb-option  value="Symptoms Same">Symptoms Same</nb-option>
                                      <nb-option  value="Symptoms Abscent">Symptoms Abscent</nb-option>
                                    </nb-select>
                                </div>  
                            </div>    

                            <h6>Winter Season : </h6>
                            <br>
                            <div class="col-sm-6" *ngIf='selectedSeason == "true"'>     
                                <div class="demo-radio col-sm-4">
                                    <nb-radio-group [(ngModel)]="selectedWinterSeason" formControlName="Winter" name="WinterSeason">
                                        <nb-radio *ngFor="let winterOption of winterOptions" [value]="winterOption.value">{{ winterOption.name}}</nb-radio>                          
                                    </nb-radio-group>
                                </div>
                            </div> 
                            <br>
                            <div class="col-sm-4">
                                <div class="form-group" *ngIf='selectedWinterSeason == "true"'>          
                                    <nb-select outline  [(ngModel)]="selectedWinterSymptoms" placeholder="Select" id="firstPlaceSymptom" formControlName="WinterSymptoms" status="info">
                                      <nb-option  value="Symptoms Increase">Symptoms Increase</nb-option>
                                      <nb-option  value="Symptoms Decrease">Symptoms Decrease</nb-option>
                                      <nb-option  value="Symptoms Same">Symptoms Same</nb-option>
                                      <nb-option  value="Symptoms Abscent">Symptoms Abscent</nb-option>
                                    </nb-select>
                                </div>  
                            </div>    
                            <h6>Monsoon Season :</h6>
                            <br>
                            <div class="col-sm-6" *ngIf='selectedSeason == "true"'>     
                                <div class="demo-radio col-sm-4">
                                    <nb-radio-group [(ngModel)]="selectedMonsoonSeason" formControlName="Monsoon" name="MonsoonSeason">
                                        <nb-radio *ngFor="let monsoonOption of monsoonOptions" [value]="monsoonOption.value">{{ monsoonOption.name}}</nb-radio>                          
                                    </nb-radio-group>
                                </div>
                            </div> 
                            <br>
                            <div class="col-sm-4">
                                <div class="form-group" *ngIf='selectedMonsoonSeason == "true"'>          
                                    <nb-select outline  [(ngModel)]="selectedMonsonSymptoms" placeholder="Select" id="firstPlaceSymptom" formControlName="MonsoonSymptoms" status="info">
                                      <nb-option  value="Symptoms Increase">Symptoms Increase</nb-option>
                                      <nb-option  value="Symptoms Decrease">Symptoms Decrease</nb-option>
                                      <nb-option  value="Symptoms Same">Symptoms Same</nb-option>
                                      <nb-option  value="Symptoms Abscent">Symptoms Abscent</nb-option>
                                    </nb-select>
                                </div>  
                            </div>    

                      </div>
                      
                      <br>
                      <button nbButton class="btn btn-info btn-lg float-right" status="info" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="">Submit</button>
                </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
    </form>
