
<nb-card>
  <form [formGroup]="lifeThreaterningAllergyForm" (ngSubmit)="submitLifeThreaterningAllergyForm()"> 
      <nb-accordion>
        <nb-accordion-item #item>
            <nb-accordion-item-header class="text-white">
              Life Threatening Allergy
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                  <div class="row">
                          <div class="col-sm-4">
                            <div class="form-group">
                                <nb-select outline placeholder="Insect Bite" [(selected)]="selectedInsectBite"  formControlName="MarriatalStatusSelect">
                                    <nb-option value="Option 1">Option 1</nb-option>
                                    <nb-option value="Option 2">Option 2</nb-option>
                                    <nb-option value="Option 3">Option 3</nb-option>
                                    <nb-option value="Option 4">Option 4</nb-option>
                                  </nb-select>
                            </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="form-group">
                                  <nb-select outline placeholder="Latex Exposure" [(selected)]="selectedLatexExposure"  formControlName="LatexExposureSelect">
                                    <nb-option value="Option 1">Option 1</nb-option>
                                    <nb-option value="Option 2">Option 2</nb-option>
                                    <nb-option value="Option 3">Option 3</nb-option>
                                    <nb-option value="Option 4">Option 4</nb-option>
                                    </nb-select>
                              </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <nb-select outline placeholder="Food Consumption" [(selected)]="selectedFoodConsumption"  formControlName="FoodConsumptionSelect">
                                      <nb-option value="Option 1">Option 1</nb-option>
                                      <nb-option value="Option 2">Option 2</nb-option>
                                      <nb-option value="Option 3">Option 3</nb-option>
                                      <nb-option value="Option 4">Option 4</nb-option>
                                      </nb-select>
                                </div>
                              </div>
                        </div>
                        <div class="row">
                              <div class="col-sm-4">
                                <div class="form-group">
                                    <nb-select outline placeholder="Drug Intake" [(selected)]="selectedDrugIntake"  formControlName="DrugIntakeSelect">
                                      <nb-option value="Option 1">Option 1</nb-option>
                                      <nb-option value="Option 2">Option 2</nb-option>
                                      <nb-option value="Option 3">Option 3</nb-option>
                                      <nb-option value="Option 4">Option 4</nb-option>
                                    </nb-select>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                  <div class="form-group">
                                      <nb-select outline placeholder="Drug Injection" [(selected)]="selectedDrugInjection1"  formControlName="DrugInjectionSelect1">
                                        <nb-option value="Option 1">Option 1</nb-option>
                                        <nb-option value="Option 2">Option 2</nb-option>
                                        <nb-option value="Option 3">Option 3</nb-option>
                                        <nb-option value="Option 4">Option 4</nb-option>
                                        </nb-select>
                                  </div>
                                </div>
                               
                            </div>
                            <br>
                            <br>
                            <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
            </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
  </form>
  </nb-card>