<form [formGroup]="pastHistoryForm" (ngSubmit)="submitPastHistoryForm(pastHistoryForm)">
  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Past History
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="form-group">
          <label>Major Diseases :</label>
          <div class="col-sm-6">
            <div class="input-group">
              <input type="text" placeholder="MajorDiseases" class="form-control" [(ngModel)]="MajorDiseases"
                formControlName="MajorDiseases" name='MajorDiseases'>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Previous Allergy Symptoms :</label>
          <div class="col-sm-6">
            <nb-select multiple formControlName="PreviousAllergySymptoms"
              [(selected)]="selectedPreviousAllergySymptoms">
              <nb-option *ngFor="let PreviousAllergySymptoms of PreviousAllergySymptomsObj"
                [value]="PreviousAllergySymptoms">
                {{PreviousAllergySymptoms.name}}
              </nb-option>
            </nb-select>
          </div>
          <!-- <label>Complaints in eye :</label>
          <div class="col-sm-6">
            <nb-select multiple formControlName="EyeComplaints" [(selected)]="selectedEyeComplaints">
              <nb-option *ngFor="let eyeComplaint of eyeComplaintsObj" [value]="eyeComplaint">
                {{eyeComplaint.name}}
              </nb-option>
            </nb-select>
          </div> -->
          <!-- <select multiple class="form-control">
            <option>Nasal Allergy</option>
            <option>Asthma</option>
            <option>Allergy Dry Cough</option>
            <option>Allergy Conjuctivitis</option>
            <option>Allergy Pharyngitis</option>
            <option>Allergy Laryngitis</option>
            <option>Hives</option>
            <option>Dermatitis</option>
            <option>Eczema</option>
            <option>Migraine</option>
          </select> -->
        </div> <br>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</form>