<!--
<nb-card>
  <form [formGroup]="patientPhysicalForm" (ngSubmit)="handleSubmit()">
      
             Patient Contact Details
             <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>
                  Patient Physical Details
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="form-group">
                          <nb-select placeholder="Gender" [(selected)]="selectedItem" formControlName="Gender">
                              <nb-option value="1">Male</nb-option>
                              <nb-option value="2">Female</nb-option>
                              <nb-option value="3">Transgender</nb-option>
                            </nb-select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <nb-select placeholder="Marrital Status" [(selected)]="selectedItem" formControlName="MarriatalStatus">
                                <nb-option value="1">Single</nb-option>
                                <nb-option value="2">Married</nb-option>
                                <nb-option value="3">Divorced</nb-option>
                                <nb-option value="4">Widowed</nb-option>
                                <nb-option value="4">Living Together</nb-option>
                              </nb-select>
                        </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group">
                              <nb-select placeholder="Occupation" [(selected)]="selectedItem" formControlName="Occupation">
                                <nb-option>Student</nb-option>
                                <nb-option>Teacher</nb-option>
                                <nb-option>Chemical Works</nb-option>
                                <nb-option>Medical Doctor</nb-option>
                                <nb-option>Home Maker</nb-option>
                                <nb-option>Tobacco Industry Works</nb-option>
                                <nb-option>Epoxy Industry Works</nb-option>
                                <nb-option>Silk Industry Works</nb-option>
                                <nb-option>Cement Industry Works</nb-option>
                                <nb-option>Jute Industry Works</nb-option>
                                <nb-option>Laboratory Works</nb-option>
                                <nb-option>Fire Crackers Manufacturers</nb-option>
                              </nb-select>
                          </div>
                        </div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group">
                              <nb-select placeholder="Body Size" [(selected)]="selectedItem" formControlName="BodySize">
                                <nb-option>Thin and Skinny</nb-option>
                                <nb-option>Fat</nb-option>
                                <nb-option>Obese</nb-option>
                                <nb-option>OverWeight</nb-option>
                                <nb-option>Normal Slim</nb-option>
                                <nb-option>Normal Regular</nb-option>
                              </nb-select>
                          </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <nb-select placeholder="Skin Colour" [(selected)]="selectedItem" formControlName="SkinColour">
                                  <nb-option>Fair</nb-option>
                                  <nb-option>Dark</nb-option>
                                  <nb-option>Brown</nb-option>
                                  <nb-option>Wheatish</nb-option>
                                </nb-select>
                            </div>
                          </div>       
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="inputFirstName">Height</label>
                        <input type="text" class="form-control" id="inputFirstName" placeholder="Height in cms" formControlName="Height">
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <label for="inputLastName">Weight</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="Weight in kgs" formControlName="Weight">
                      </div>
                    </div>
                  </div>
                  <br>
                  <h6>Impact of symptoms at Occupation</h6>
                  <div class="col-sm-6">
                      <div class="demo-radio col-sm-4">
                          <nb-radio-group [(value)]="radioGroupValue">
                            <nb-radio
                              [value]="'This is value 1'">
                              YES
                            </nb-radio>
                            <nb-radio
                              [value]="'This is value 2'">
                              NO
                            </nb-radio>         
                          </nb-radio-group>
                        </div>
                  </div>
                  <div *ngIf= 'SymptomsAtOccupation == "yes"'>
                    <div class="form-group">          
                        <select class="form-control" [(ngModel)]="PatientService.WritePatient.PatientPhysicalDetails.SymptomesSelectedAtOccupation" disabled>
                          <nb-option>--Select a value--</nb-option>
                          <nb-option>Symptoms Increase</nb-option>
                          <nb-option>Symptoms Decrease</nb-option>
                          <nb-option>Symptoms No change</nb-option>
                        </select>
                    </div><br>
                    </div><br>
                  
                    <br>
                    <h6>Exposure to Sun</h6>
                  <div class="col-sm-6">
                        <div class="demo-radio col-sm-4">
                            <nb-radio-group [(value)]="radioGroupValue">
                              <nb-radio
                                [value]="'This is value 1'">
                                YES
                              </nb-radio>
                              <nb-radio
                                [value]="'This is value 2'">
                                NO
                              </nb-radio>                          
                            </nb-radio-group>
                        </div>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary">Submit</button>
                        
                </nb-accordion-item-body>
              </nb-accordion-item> 
            </nb-accordion>    
         
  </form>
</nb-card>


  
<div class="row">
    <div class="col-md-6">
      <nb-card>
        <nb-card-header>Using the Grid</nb-card-header>
        <nb-card-body>
          <form>
            <div class="form-group row">
              <label for="inputEmail1" class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword2" class="col-sm-3 col-form-label">Password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3">Radios</label>
              <div class="col-sm-9">
                <div class="form-check">
                  <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="gridRadios" checked>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Option one is this and that&mdash;be sure to include why it's great</span>
                  </label>
                </div>
                <div class="form-check">
                  <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="gridRadios">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Option two can be something else and selecting it will deselect option one</span>
                  </label>
                </div>
                <div class="form-check disabled">
                  <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="gridRadios" disabled>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Option three is disabled</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <button type="submit" class="btn btn-primary">Sign in</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
  
      <nb-card>
        <nb-card-header>Form without labels</nb-card-header>
        <nb-card-body>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Recipients">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Subject">
            </div>
            <div class="form-group">
              <textarea class="form-control" placeholder="Message"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Send</button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  
    <div class="col-md-6">
      <nb-card>
        <nb-card-header>Basic form</nb-card-header>
        <nb-card-body>
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
              <nb-checkbox>Check me out</nb-checkbox>
            </div>
            <button type="submit" class="btn btn-danger">Submit</button>
          </form>
        </nb-card-body>
      </nb-card>
  
      <nb-card>
        <nb-card-header>Block form</nb-card-header>
        <nb-card-body>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstName">First Name</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLastName">Last Name</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputWebsite">Website</label>
                <input type="text" class="form-control" id="inputWebsite" placeholder="Website">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <nb-card>
        <nb-card-header>Horizontal form</nb-card-header>
        <nb-card-body>
          <form class="form-horizontal">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-3 form-control-label">Email</label>
              <div class="col-sm-9">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-3 form-control-label">Password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <div class="checkbox">
                  <nb-checkbox>Remember me</nb-checkbox>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-3 col-sm-9">
                <button type="submit" class="btn btn-warning">Sign in</button>
              </div>
            </div>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  
-->

  
  


<!--
<nb-accordion>
  <nb-accordion-item>
    <nb-accordion-item-header>
      Patient Physical Details
    </nb-accordion-item-header>
    <nb-accordion-item-body>
        <form [formGroup]="patientPhysicalDetailsForm"  (ngSubmit)="handleSubmit()">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                  <nb-select placeholder="Gender" [(selected)]="selectedItem">
                      <nb-option value="1">Male</nb-option>
                      <nb-option value="2">Female</nb-option>
                      <nb-option value="3">Transgender</nb-option>
                    </nb-select>
              </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <nb-select placeholder="Marrital Status" [(selected)]="selectedItem">
                        <nb-option value="1">Single</nb-option>
                        <nb-option value="2">Married</nb-option>
                        <nb-option value="3">Divorced</nb-option>
                        <nb-option value="4">Widowed</nb-option>
                        <nb-option value="4">Living Together</nb-option>
                      </nb-select>
                </div>
              </div>
              <div class="col-sm-4">
                  <div class="form-group">
                      <nb-select placeholder="Occupation" [(selected)]="selectedItem">
                        <nb-option>Student</nb-option>
                        <nb-option>Teacher</nb-option>
                        <nb-option>Chemical Works</nb-option>
                        <nb-option>Medical Doctor</nb-option>
                        <nb-option>Home Maker</nb-option>
                        <nb-option>Tobacco Industry Works</nb-option>
                        <nb-option>Epoxy Industry Works</nb-option>
                        <nb-option>Silk Industry Works</nb-option>
                        <nb-option>Cement Industry Works</nb-option>
                        <nb-option>Jute Industry Works</nb-option>
                        <nb-option>Laboratory Works</nb-option>
                        <nb-option>Fire Crackers Manufacturers</nb-option>
                      </nb-select>
                  </div>
                </div>
          </div>
          <br>
          <div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                      <nb-select placeholder="Body Size" [(selected)]="selectedItem">
                        <nb-option>Thin and Skinny</nb-option>
                        <nb-option>Fat</nb-option>
                        <nb-option>Obese</nb-option>
                        <nb-option>OverWeight</nb-option>
                        <nb-option>Normal Slim</nb-option>
                        <nb-option>Normal Regular</nb-option>
                      </nb-select>
                  </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <nb-select placeholder="Skin Colour" [(selected)]="selectedItem">
                          <nb-option>Fair</nb-option>
                          <nb-option>Dark</nb-option>
                          <nb-option>Brown</nb-option>
                          <nb-option>Wheatish</nb-option>
                        </nb-select>
                    </div>
                  </div>       
          </div>
          <br>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstName">Height</label>
                <input type="text" class="form-control" id="inputFirstName" placeholder="Height in cms">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputLastName">Weight</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="Weight in kgs">
              </div>
            </div>
          </div>
          <br>
          <h6>Impact of symptoms at Occupation</h6>
          <div class="col-sm-6">
              <div class="demo-radio col-sm-4">
                  <nb-radio-group [(value)]="radioGroupValue">
                    <nb-radio
                      [value]="'This is value 1'">
                      YES
                    </nb-radio>
                    <nb-radio
                      [value]="'This is value 2'">
                      NO
                    </nb-radio>         
                  </nb-radio-group>
                </div>
          </div>
          <div *ngIf= 'SymptomsAtOccupation == "yes"'>
            <div class="form-group">          
                <select class="form-control" [(ngModel)]="PatientService.WritePatient.PatientPhysicalDetails.SymptomesSelectedAtOccupation" disabled>
                  <nb-option>--Select a value--</nb-option>
                  <nb-option>Symptoms Increase</nb-option>
                  <nb-option>Symptoms Decrease</nb-option>
                  <nb-option>Symptoms No change</nb-option>
                </select>
            </div><br>
            </div><br>
          
            <br>
            <h6>Exposure to Sun</h6>
          <div class="col-sm-6">
                <div class="demo-radio col-sm-4">
                    <nb-radio-group [(value)]="radioGroupValue">
                      <nb-radio
                        [value]="'This is value 1'">
                        YES
                      </nb-radio>
                      <nb-radio
                        [value]="'This is value 2'">
                        NO
                      </nb-radio>                          
                    </nb-radio-group>
                </div>
          </div>
          
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </nb-accordion-item-body>
  </nb-accordion-item> 
</nb-accordion>
-->