<form [formGroup]="patientChestForm" (ngSubmit)="submitPatientChestDetailsForm(patientChestForm)">
    <br>
    <nb-accordion>
        <nb-accordion-item #item>
            <nb-accordion-item-header class="text-white">
                Patient Chest Details
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                <h6>Wheezing : </h6>
                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">
                        <nb-radio-group [(ngModel)]="selectedWheezOption" formControlName="Wheezing" name="Wheezing">
                            <nb-radio *ngFor="let wheezOption of wheezOptions" [value]="wheezOption.value">
                                {{ wheezOption.name}}</nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div *ngIf='selectedWheezOption == true'>
                        <label>Is it ?</label>
                        <div class="form-group">
                            <nb-select outline placeholder="Select" id="Wheez" formControlName="WheezingType"
                                [(ngModel)]="wheezingType" status="info">
                                <nb-option *ngFor="let wheez of wheezingDuringBreath" [value]="wheez.value">
                                    {{ wheez.name }}</nb-option>
                            </nb-select>
                        </div>
                        <div class="form-group">
                            <label>When</label>
                            <nb-select outline placeholder="Select" id="WheezTime" formControlName="WheezingTime"
                                [(ngModel)]="wheezingTime"
                                status="info">
                                <nb-option *ngFor="let wheezTime of wheezingDuringTime" [value]="wheezTime .value">
                                    {{ wheezTime.name }}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                </div>


                <h6>Breathlessness : </h6>
                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">
                        <nb-radio-group [(ngModel)]="selectedBreathOption" formControlName="Breathlessness"
                            name="Breath">
                            <nb-radio *ngFor="let breathOption of breathOptions " [value]="breathOption.value">
                                {{ breathOption.name}}</nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group" *ngIf='selectedBreathOption == true'>
                        <nb-select outline muliple placeholder="Select"
                            [(ngModel)]="breathlessnessTime"
                            formControlName="BreathlessnessTime" status="info">
                            <nb-option value="After Wheeze">After Wheeze</nb-option>
                            <nb-option value="After Exercise">After Exercise</nb-option>
                            <nb-option value="After Exertion">After Exertion</nb-option>
                            <nb-option value="After Laughter">After Laughter</nb-option>
                        </nb-select>
                    </div>
                </div>
                <h6>Chest Pain : </h6>
                <div class="col-sm-6">
                    <div class="demo-radio col-sm-4">
                        <nb-radio-group [(ngModel)]="selectedChestPainOption" formControlName="ChestPain"
                            name="ChestPain">
                            <nb-radio *ngFor="let chestPainOption of chestPainOptions " [value]="chestPainOption.value">
                                {{ chestPainOption.name}}</nb-radio>
                        </nb-radio-group>
                    </div>
                </div>
               
                <div class="col-sm-4">
                    <div class="form-group" *ngIf='selectedChestPainOption == true'>
                        <nb-select outline muliple placeholder="Select"
                            [(ngModel)]="chestPainArea"
                            formControlName="ChestPainArea" status="info">
                            <nb-option value="After Wheeze">Left Side</nb-option>
                            <nb-option value="After Exercise">Right Side</nb-option>
                            <nb-option value="After Exertion">Brest</nb-option>
                            <nb-option value="After Laughter">Back</nb-option>
                            <nb-option value="After Laughter">Front</nb-option>
                        </nb-select>
                    </div>
                </div>
                <br>
                <button nbButton class="btn btn-info btn-lg float-right" status="info" [nbSpinner]="loading"
                    nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="">Submit</button>

            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</form>