<form [formGroup]="previousSurgeryForm" (ngSubmit)="submitPreviousSurgeryForm(previousSurgeryForm)">
  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Previous Surgery and Treatment Details
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="col-sm-6">
          <h6>Any Surgery :</h6>
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedSurgery" formControlName="Surgery" name='Surgery'>
              <nb-radio *ngFor="let surgeryOption of surgeryOptions" [value]="surgeryOption.value">
                {{ surgeryOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
          <div *ngIf='selectedSurgery == true'>
            <label>What</label>
            <div class="input-group">
              <textarea rows="5" placeholder="What" class="form-control" [(ngModel)]="whatSurgery"
                formControlName="WhatSurgery" name='WhatSurgery'></textarea>
            </div>
            <br>
            <label>When</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="When" [(ngModel)]="whenSurgery"
                formControlName="WhenSurgery" name='WhenSurgery'>
            </div>
            <br>
            <label>Effects</label>
            <div class="input-group">
              <textarea rows="5" placeholder="Details" class="form-control" [(ngModel)]="effects"
                formControlName="Effects" name='Effects'></textarea>
            </div>
          </div>
          <br>
          <label>Previous Treatment Details</label>
          <div class="input-group">
            <textarea rows="5" placeholder="Details" class="form-control" [(ngModel)]="previousTreatmentDetails"
              formControlName="PreviousTreatmentDetails" name='PreviousTreatmentDetails'></textarea>
          </div>
        </div>
        <br>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</form>