<form [formGroup]="finalAdviseForm" (ngSubmit)="submitFinalAdviseForm(finalAdviseForm)">
  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Final Advise
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <label>Immunotherapy :</label>
        <div class="input-group has-person-icon">
          <textarea rows="3" placeholder="" class="form-control" [(ngModel)]="Immunotheraphy"
            formControlName="Immunotheraphy" name='Immunotheraphy'></textarea>
        </div><br>

        <label>Medication :</label>
        <div class="input-group has-person-icon">
          <textarea rows="3" placeholder="" class="form-control" [(ngModel)]="Medication" formControlName="Medication"
            name='Medication'></textarea>
        </div><br>

        <label>General :</label>
        <div class="input-group has-person-icon">
          <textarea rows="3" placeholder="" class="form-control" [(ngModel)]="General" formControlName="General"
            name='General'></textarea>
        </div>
        <br>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</form>