<div>
  <button type="submit" class="btn btn-info btn-lg float-right" (click)=clickOnBack()>Back</button>
</div>
<div>
  <br>
  <br>
  <br>
  <br>
</div>

<nb-card status="info">
  <nb-card-header class="text-white">Patient Personal Information</nb-card-header>

  <nb-card-body>
    <form [formGroup]="patientContactPhysicalForm"
      (ngSubmit)="submitPatientContactPhysicalDetails(patientContactPhysicalForm)">
      <br>
      <!--Patient Contact Details-->
      <nb-accordion>
        <!-- expanded = 'true' -->
        <nb-accordion-item>
          <nb-accordion-item-header class="text-white">
            Patient Contact Details
          </nb-accordion-item-header>
          <nb-accordion-item-body>


            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputFirstName">First Name</label>
                  <input type="text" class="form-control" id="inputFirstName" placeholder="First Name"
                    formControlName="FirstName" required
                    [(ngModel)]="this.patientService.patientDemographicsDetails['FirstName']"
                    [ngClass]="{ 'is-invalid': ( submitted || f.FirstName?.touched ) && f.FirstName?.errors }">
                  <div *ngIf="f.FirstName?.touched && f.FirstName?.errors" class="invalid-feedback">
                    <div *ngIf="f.FirstName?.errors.required">First Name is required</div>
                    <div *ngIf="f.FirstName?.errors.pattern">Only alphanumerics are allowed!</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputLastName">Middle Name</label>
                  <input type="text" class="form-control" id="inputMiddleName" placeholder="Middle Name"
                    formControlName="MiddleName" required
                    [(ngModel)]="this.patientService.patientDemographicsDetails['MiddleName']"
                    [ngClass]="{ 'is-invalid': ( submitted || f.MiddleName?.touched ) && f.MiddleName?.errors }">
                  <div *ngIf="f.MiddleName?.touched && f.MiddleName?.errors" class="invalid-feedback">
                    <div *ngIf="f.MiddleName?.errors.required">Middle Name is required</div>
                    <div *ngIf="f.MiddleName?.errors.pattern">Only alphanumerics are allowed!</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputFirstName">Last Name</label>
                  <input type="text" class="form-control" id="inputLastName" placeholder="Last Name"
                    formControlName="LastName" required
                    [(ngModel)]="this.patientService.patientDemographicsDetails['LastName']"
                    [ngClass]="{ 'is-invalid': ( submitted || f.LastName?.touched ) && f.LastName?.errors }">
                  <div *ngIf="f.LastName?.touched && f.LastName?.errors" class="invalid-feedback">
                    <div *ngIf="f.LastName?.errors.required">Last Name is required</div>
                    <div *ngIf="f.LastName?.errors.pattern">Only alphanumerics are allowed!</div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <nb-select outline placeholder="Gender" id="Gender" formControlName="Gender"
                    [(selected)]="selectedGender" status="info" required
                    [(ngModel)]="this.patientService.patientDemographicsDetails['Gender']">
                    <!--<nb-option *ngFor="let g of genders" [value]="g.value">{{ g.name }}</nb-option>-->
                    <nb-option value="Male">Male</nb-option>
                    <nb-option value="Female">Female</nb-option>
                    <nb-option value="Transgender">Tansgender</nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <nb-select outline placeholder="Marital Status" id="MaritalStatus"
                    [(selected)]="selectedMaritalStatus" formControlName="MaritalStatus" status="info" required
                    [(ngModel)]="this.patientService.patientDemographicsDetails['MaritalStatus']">
                    <nb-option value="Single">Single</nb-option>
                    <nb-option value="Married">Married</nb-option>
                    <nb-option value="Divorced">Divorced</nb-option>
                    <nb-option value="Widowed">Widowed</nb-option>
                    <nb-option value="Living Together">Living Together</nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <nb-select outline placeholder="Occupation" [(selected)]="selectedOccupation"
                    formControlName="Occupation" status="info" required
                    [(ngModel)]="this.patientService.patientDemographicsDetails['Occupation']">
                    <nb-option value="Student">Student</nb-option>
                    <nb-option value="Teacher">Teacher</nb-option>
                    <nb-option value="Chemical Works">Chemical Works</nb-option>
                    <nb-option value="Medical Doctor">Medical Doctor</nb-option>
                    <nb-option value="Home Maker">Home Maker</nb-option>
                    <nb-option value="Tobacco Industry Works">Tobacco Industry Works</nb-option>
                    <nb-option value="Epoxy Industry Works">Epoxy Industry Works</nb-option>
                    <nb-option value="Silk Industry Works">Silk Industry Works</nb-option>
                    <nb-option value="Cement Industry Works">Cement Industry Works</nb-option>
                    <nb-option value="Jute Industry Works">Jute Industry Works</nb-option>
                    <nb-option value="Laboratory Works">Laboratory Works</nb-option>
                    <nb-option value="Fire Crackers Manufacturers">Fire Crackers Manufacturers</nb-option>
                  </nb-select>
                </div>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputEmail">Email</label>
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" formControlName="EmailId"
                    [(ngModel)]="this.patientService.patientDemographicsDetails['EmailId']" required
                    [ngClass]="{ 'is-invalid': ( submitted || f.EmailId?.touched ) && f.EmailId?.errors }">
                  <div *ngIf="f.EmailId?.touched && f.EmailId?.errors" class="invalid-feedback">
                    <div *ngIf="f.EmailId?.errors.required">Email is required</div>
                    <div *ngIf="f.EmailId?.errors.email">Please enter valid Email Id</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputdob">Date of Birth</label><br>
                  <input nbInput class='datePicker' placeholder="Date of Birth" [nbDatepicker]="picker"
                    formControlName="DateOfBirth" required
                    [(ngModel)]="this.patientService.patientDemographicsDetails['DateOfBirth']"
                    [ngClass]="{ 'is-invalid': ( submitted || f.DateOfBirth?.touched ) && f.DateOfBirth?.errors }"
                    readonly>
                  <div *ngIf="f.DateOfBirth?.touched && f.DateOfBirth?.errors" class="invalid-feedback">
                    <div *ngIf="f.DateOfBirth?.errors.required">DOB is required</div>
                  </div>
                  <nb-datepicker #picker [min]="min" [max]="max"></nb-datepicker>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputWebsite">Primary Contact Number</label>
                  <input type="tel" class="form-control" id="inputMobile" placeholder="Primary Contact Number"
                    formControlName="Mobile" [(ngModel)]="this.patientService.patientDemographicsDetails['Mobile']"
                    maxlength="10" (keypress)=_keyPress($event) required
                    [ngClass]="{ 'is-invalid':  ( submitted || f.Mobile?.touched )  && f.Mobile?.errors }">
                  <div *ngIf="f.Mobile?.touched && f.Mobile?.errors" class="invalid-feedback">
                    <div *ngIf="f.Mobile?.errors.required">Please enter primary contact number.</div>
                    <div *ngIf="f.Mobile?.errors.pattern">Please Enter 10-digit valid mobile number.</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputWebsite">Secondary Contact Number</label>
                  <input type="tel" class="form-control" id="inputSecContactNumber"
                    placeholder="Secondary Contact Number" formControlName="SecondaryContactNumber"
                    [(ngModel)]="this.patientService.patientDemographicsDetails['SecondaryContactNumber']"
                    maxlength="10" (keypress)=_keyPress($event) required
                    [ngClass]="{ 'is-invalid': ( submitted || f.SecondaryContactNumber?.touched ) && f.SecondaryContactNumber?.errors }">
                  <div *ngIf="f.SecondaryContactNumber?.touched && f.SecondaryContactNumber?.errors"
                    class="invalid-feedback">
                    <div *ngIf="f.SecondaryContactNumber?.errors.required">Please enter secondary contact number..</div>
                    <div *ngIf="f.SecondaryContactNumber?.errors.pattern">Enter 10-digit valid mobile number.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName">Referred By</label>
                  <input type="text" class="form-control" id="inputReferedBy" placeholder="Referred By"
                    formControlName="ReferringDoctorName" required
                    [(ngModel)]="this.patientService.patientDemographicsDetails['ReferringDoctorName']">
                  <div *ngIf="f.ReferringDoctorName?.touched && f.ReferringDoctorName?.errors" class="invalid-feedback">
                    <div *ngIf="f.ReferringDoctorName?.errors.required">Please enter refering doctor name.</div>
                    <div *ngIf="f.ReferringDoctorName?.errors.pattern">Only alphanumerics are allowed!</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName">Reference Contact Number</label>
                  <input type="tel" class="form-control" id="inputReferenceContactNumber"
                    placeholder="Reference Contact Number" formControlName="ReferringDoctorContactNumber"
                    [(ngModel)]="this.patientService.patientDemographicsDetails['ReferringDoctorContactNumber']"
                    maxlength="10" (keypress)=_keyPress($event)
                    [ngClass]="{ 'is-invalid': ( submitted || f.ReferringDoctorContactNumber?.touched ) && f.ReferringDoctorContactNumber?.errors }">
                  <div *ngIf="f.ReferringDoctorContactNumber?.touched && f.ReferringDoctorContactNumber?.errors"
                    class="invalid-feedback">
                    <div *ngIf="f.ReferringDoctorContactNumber?.errors.required">Please enter reference contact number.
                    </div>
                    <div *ngIf="f.ReferringDoctorContactNumber?.errors.pattern">Enter 10-digit valid mobile number.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-group">
              <textarea rows="5" nbInput fullWidth shape="round" placeholder="Address-1" formControlName="Address1"
                [(ngModel)]="this.patientService.patientDemographicsDetails['Address1']" required></textarea>
            </div>
            <br>
            <div class="input-group">
              <textarea rows="5" nbInput fullWidth shape="round" placeholder="Address-2" formControlName="Address2"
                [(ngModel)]="this.patientService.patientDemographicsDetails['Address2']" required></textarea>
            </div>

            <br>



          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
      <br>
      <br>

      <!-- </form> -->

      <!-- <form [formGroup]="patientPhysicalForm" (ngSubmit)="submitPatientPhysicalDetails()"> -->

      <!--Patient Physical Details-->
      <nb-accordion>
        <nb-accordion-item>
          <nb-accordion-item-header class="text-white">
            Patient Physical Details
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <nb-select outline placeholder="Body Size" [(selected)]="selectedBodySize" formControlName="Size"
                    status="info" [(ngModel)]="this.patientService.patientPhysicalDetails['Size']" required>
                    <nb-option value="Thin and Skinny">Thin and Skinny</nb-option>
                    <nb-option value="Fat">Fat</nb-option>
                    <nb-option value="OverWeight">OverWeight</nb-option>
                    <nb-option value="Normal Slim">Normal Slim</nb-option>
                    <nb-option value="Normal Regular">Normal Regular</nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <nb-select outline placeholder="Skin Colour" [(selected)]="selectedSkinColour" formControlName="Color"
                    status="info" [(ngModel)]="this.patientService.patientPhysicalDetails['Color']" required>
                    <nb-option value="Fair">Fair</nb-option>
                    <nb-option value="Dark">Dark</nb-option>
                    <nb-option value="Brown">Brown</nb-option>
                    <nb-option value="Wheatish">Wheatish</nb-option>
                  </nb-select>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName">Height</label>
                  <input type="number" class="form-control" id="inputHeight" placeholder="Height in cms"
                    formControlName="Height" [(ngModel)]="this.patientService.patientPhysicalDetails['Height']"
                    [ngClass]="{ 'is-invalid': ( submitted || f.Height?.touched ) && f.Height?.errors }" required>
                  <div *ngIf="f.Height?.touched && f.Height?.errors" class="invalid-feedback">
                    <div *ngIf="f.Height?.errors.required">Please enter Height.</div>
                    <!-- <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div> -->
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName">Weight</label>
                  <input type="number" class="form-control" id="inputWeight" placeholder="Weight in kgs"
                    formControlName="Weight" [(ngModel)]="this.patientService.patientPhysicalDetails['Weight']"
                    [ngClass]="{ 'is-invalid': ( submitted || f.Weight?.touched ) && f.Weight?.errors }" required>
                  <div *ngIf="f.Weight?.touched && f.Weight?.errors" class="invalid-feedback">
                    <div *ngIf="f.Weight?.errors.required">Please enter Weight.</div>
                    <!-- <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div> -->
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="form-group">
              <label>Mental Status :</label>
              <div class="col-sm-6">
                <nb-select multiple formControlName="MentalStatus" [(selected)]="selectedMentalStatus">
                  <nb-option *ngFor="let MentalStatus of MentalStatusObj" [value]="MentalStatus">
                    {{MentalStatus.name}}
                  </nb-option>
                </nb-select>
              </div>
            </div>
            <br>
            <h6>Impact of symptoms at Occupation</h6>
            <div>
              <div class="col-sm-6">
                <div class="demo-radio col-sm-4">
                  <nb-radio-group [(ngModel)]="selectedSymptomsAtOccupation" formControlName="SymptomsAtOccupation"
                    name="OccupationSymptomOption"
                    [(ngModel)]="this.patientService.patientPhysicalDetails['SymptomsAtOccupation']">
                    <nb-radio *ngFor="let occupationSymptomsOption of occupationSymptomsOptions"
                      [value]="occupationSymptomsOption.value">{{ occupationSymptomsOption.name}}</nb-radio>
                  </nb-radio-group>
                </div>
              </div>
            </div>

            <br>
            <br>
            <div class="col-sm-4">
              <div class="form-group" *ngIf='selectedSymptomsAtOccupation == true'>
                <nb-select outline [(ngModel)]="SymptomsSelectedAtOccupation" placeholder="Select"
                  id="occupationSymptoms" formControlName="SymptomsSelectedAtOccupation" status="info">
                  <nb-option value="Symptoms Increase">Symptoms Increase</nb-option>
                  <nb-option value="Symptoms Decrease">Symptoms Decrease</nb-option>
                  <nb-option value="Symptoms No change">Symptoms No change</nb-option>
                </nb-select>
              </div>
            </div>
            <br>
            <br>

            <h6>Exposure to Sun</h6>
            <div>
              <div class="col-sm-6">
                <div class="demo-radio col-sm-4">
                  <nb-radio-group [(ngModel)]="selectedExposureToSun" formControlName="ExposureToSun"
                    name="SunExposureOption" [(ngModel)]="this.patientService.patientPhysicalDetails['ExposureToSun']"
                    required>
                    <nb-radio *ngFor="let sunExposureOption of sunExposureOptions" [value]="sunExposureOption.value">
                      {{ sunExposureOption.name}}</nb-radio>
                  </nb-radio-group>
                </div>
              </div>
            </div>


            <br>


          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
      <br>
      <button type="submit" class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
        nbSpinnerSize="large" nbSpinnerMessage="">Submit</button>
      <!-- [disabled]="patientContactPhysicalForm.invalid" -->
    </form>
  </nb-card-body>
</nb-card>
<br>
<br>

<nb-card status="info">
  <nb-card-header class="text-white">Patient Allergy Factor Information</nb-card-header>
  <nb-card-body>
    <app-allergy-factor0></app-allergy-factor0>
    <br>
    <br>
    <app-allergy-factor1></app-allergy-factor1>
    <br>
    <br>
    <app-allergy-factor2></app-allergy-factor2>
    <br>
    <br>
    <app-allergy-factor3></app-allergy-factor3>
    <br>
    <br>
    <app-allergy-factor4></app-allergy-factor4>
    <br>
    <br>
    <app-allergy-factor5></app-allergy-factor5>
  </nb-card-body>
</nb-card>
<!-- <br>
<br>
<app-allergy-factor6></app-allergy-factor6>
<br>
<br>
<app-life-threaterning-allergy></app-life-threaterning-allergy>
<br>
<br> -->

<nb-card status="info">
  <nb-card-header class="text-white">Patient Allergy History Information</nb-card-header>
  <nb-card-body>
    <app-allergy-history0></app-allergy-history0>
    <br>
    <br>
    <app-allergy-history1></app-allergy-history1>
  </nb-card-body>
</nb-card>

<br>
<br>
<nb-card status="info">
  <nb-card-header class="text-white">Patient Habits Details</nb-card-header>
  <nb-card-body>
    <app-alcohol-habits-details></app-alcohol-habits-details>
    <!-- <br>
      <br>
      <app-alcohol-habits-earlier></app-alcohol-habits-earlier>
      <br>
      <br>
      <app-chewing-habits-details></app-chewing-habits-details> -->
  </nb-card-body>
</nb-card>
<br>
<br>

<nb-card status="info">
  <nb-card-header class="text-white">Patient Blood Donated Details</nb-card-header>
  <nb-card-body>
    <app-blood-donation-details></app-blood-donation-details>
    <br>
    <app-blood-receiving-details></app-blood-receiving-details>
  </nb-card-body>
</nb-card>
<br>
<br>


<nb-card status="info">
  <nb-card-header class="text-white">Patient Nativity and Domilcile Details</nb-card-header>
  <nb-card-body>
    <app-nativity-and-domicile></app-nativity-and-domicile>
  </nb-card-body>
</nb-card>
<br>
<br>

<nb-card status="info">
  <nb-card-header class="text-white">Patient Diet Information</nb-card-header>
  <nb-card-body>
    <app-dite-sleep-physicalActivity></app-dite-sleep-physicalActivity>
  </nb-card-body>
</nb-card>
<br>
<br>

<nb-card status="info">
  <nb-card-header class="text-white">Patient Eye/EarInformation</nb-card-header>
  <nb-card-body>
    <app-eye-ear-info></app-eye-ear-info>
  </nb-card-body>
</nb-card>

<br>
<br>

<nb-card status="info">
  <nb-card-header class="text-white">Patient Throat Information</nb-card-header>
  <nb-card-body>
    <app-throat-info></app-throat-info>
  </nb-card-body>
</nb-card>

<br>
<br>

<nb-card status="info">
  <nb-card-header class="text-white">Patient Gastro Intestinal Information</nb-card-header>
  <nb-card-body>
    <app-gastro-intestinal></app-gastro-intestinal>
  </nb-card-body>
</nb-card>

<br>
<br>

<nb-card status="info">
  <nb-card-header class="text-white">Female Details</nb-card-header>
  <nb-card-body>
    <app-female-personal-details></app-female-personal-details>
    <br>
    <app-female-personal-children></app-female-personal-children>

  </nb-card-body>
</nb-card>
<br>
<br>
<nb-card status="info">
  <nb-card-header class="text-white">Patient Respiratory System Information</nb-card-header>
  <nb-card-body>
    <app-patient-chest-details></app-patient-chest-details>
    <br>
    <br>
    <app-respiratory-system1></app-respiratory-system1>
    <br>
    <br>
    <app-respiratory-system2></app-respiratory-system2>
    <br>
    <br>
    <app-respiratory-system3></app-respiratory-system3>
    <br>
    <br>

  </nb-card-body>
</nb-card>

<nb-card status="info">
  <nb-card-header class="text-white">Patient Test</nb-card-header>
  <nb-card-body>
    <app-test1></app-test1>
    <br>
    <br>
    <app-test2></app-test2>
    <br>
    <br>
    <app-test3></app-test3>
    <br>
    <br>
    <app-test4></app-test4>
    <br>
    <br>
    <app-test5></app-test5>
    <br>
    <br>
    <app-test6></app-test6>
    <br>
    <br>
    <app-test7></app-test7>
    <!-- <br>
    <br>
    <app-test8></app-test8> -->
    <br>
    <br>
    <app-prick-test></app-prick-test>
  </nb-card-body>
</nb-card>
<br>
<br>
<nb-card status="info">
  <nb-card-header class="text-white">Patient Skin Information</nb-card-header>
  <nb-card-body>
    <app-skin1></app-skin1>
    <br>
    <br>
    <app-skin2></app-skin2>
  </nb-card-body>
</nb-card>

<nb-card status="info">
  <nb-card-header class="text-white">Patient Bowelmoment Urination Information</nb-card-header>
  <nb-card-body>
    <app-bowelmoment-urination></app-bowelmoment-urination>
  </nb-card-body>
</nb-card>

<nb-card status="info">
  <nb-card-header class="text-white">Patient Hair Details</nb-card-header>
  <nb-card-body>
    <app-hair-details></app-hair-details>
  </nb-card-body>
</nb-card>


<nb-card status="info">
  <nb-card-header class="text-white">Patient Headache Details</nb-card-header>
  <nb-card-body>
    <app-headache-info></app-headache-info>
  </nb-card-body>
</nb-card>

<nb-card status="info">
  <nb-card-header class="text-white">Previous Surgery and Treatment Details</nb-card-header>
  <nb-card-body>
    <app-previous-surgery-information></app-previous-surgery-information>
  </nb-card-body>
</nb-card>


<nb-card status="info">
  <nb-card-header class="text-white">Past History</nb-card-header>
  <nb-card-body>
    <app-past-history></app-past-history>
  </nb-card-body>
</nb-card>


<nb-card status="info">
  <nb-card-header class="text-white"> Present Non Allergic </nb-card-header>
  <nb-card-body>
    <app-present-non-allergic></app-present-non-allergic>
    <br>
    <br>
    <app-present-non-allergic-gerd></app-present-non-allergic-gerd>
  </nb-card-body>
</nb-card>


<nb-card status="info">
  <nb-card-header class="text-white">Final Initial Advise Details</nb-card-header>
  <nb-card-body>
    <app-initial-advice></app-initial-advice>
    <br>
    <br>
    <app-final-advice></app-final-advice>
    <br>
    <br>
    <app-followup-details></app-followup-details>
    <br>
    <br>
    <app-provisional-details></app-provisional-details>
    <br>
    <br>
    <app-prognosis-details></app-prognosis-details>
  </nb-card-body>
</nb-card>

<nb-card status="info">
  <nb-card-header class="text-white"> Patient Additional Details </nb-card-header>
  <nb-card-body>
    <app-additional></app-additional>
  </nb-card-body>
</nb-card>