
    <form [formGroup]="allergyFactor5Form" (ngSubmit)="submitAllergyFactor5Form()">       
      <nb-accordion>
        <nb-accordion-item #item>
              <nb-accordion-item-header class="text-white">
                Allergy Factor (Animals/Pillow/Blankets)
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                    <h6>Animals: </h6>
                    <br>
                    <div class="form-group validation-checkboxes row">
                      <nb-checkbox status="info" class="col-sm-4"  formControlName="Animals_Cow" [(ngModel)] = "CowCheckBox" value="Cow">Cow</nb-checkbox>
                      <nb-checkbox status="info" class="col-sm-4"  formControlName="Animals_Buffalo" [(ngModel)] = "BuffaloCheckBox" value="Buffallow">Buffallow</nb-checkbox>
                      <!-- <nb-checkbox status="success" class="col-sm-4"  formControlName="Animals" [(ngModel)] = "CatCheckBox" value="Cat">Cat</nb-checkbox><br> -->
                      <nb-checkbox status="info" class="col-sm-4"  formControlName="Animals_Dog" [(ngModel)] = "DogCheckBox" value="Dog">Dog</nb-checkbox><br>
                      <nb-checkbox status="info" class="col-sm-4"  formControlName="Animals_Donkey" [(ngModel)] = "DonkeyCheckBox" value="Donkey">Donkey</nb-checkbox>
                      <nb-checkbox status="info" class="col-sm-4"  formControlName="Animals_Rabbit" [(ngModel)] = "RabbitCheckBox" value="Rabbit">Rabbit</nb-checkbox>
                      <nb-checkbox status="info" class="col-sm-4"  formControlName="Animals_Horse" [(ngModel)] = "HorseCheckBox" value="Horse">Horse</nb-checkbox><br>
                      <nb-checkbox status="info" class="col-sm-4"  formControlName="Animals_Sheep" [(ngModel)] = "SheepCheckBox" value="Sheep">Sheep</nb-checkbox>
                      <nb-checkbox status="info" class="col-sm-4"  formControlName="Animals_Rat" [(ngModel)] = "RatCheckBox" value="Rat">Rat</nb-checkbox>
                      </div> 
                     
                      
                      <br>
                    <br>
                    <h6>Pillow: </h6>
                    <br>
                    <div class="form-group validation-checkboxes row">
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Pillow_VeryOld" [(ngModel)] = "VeryOldCheckBox" value="VeryOld">Very Old</nb-checkbox>
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Pillow_ModeratelyOld" [(ngModel)] = "ModeratelyOldCheckBox" value="ModeratelyOld">Moderately Old</nb-checkbox>
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Pillow_New" [(ngModel)] = "NewCheckBox" value="New">New</nb-checkbox><br>
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Pillow_Cotton" [(ngModel)] = "PillowCottonCheckBox" value="Cotton">Cotton</nb-checkbox>
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Pillow_SilkCotton" [(ngModel)] = "SilkCottonCheckBox" value="Silk Cotton">Silk Cotton</nb-checkbox>
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Pillow_Foam" [(ngModel)] = "FoamCheckBox" value="Foam">Foam</nb-checkbox><br>
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Pillow_Polyester" [(ngModel)] = "PillowPolysterCheckBox" value="Polyester">Polyester</nb-checkbox>
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Pillow_RubberisedCoir" [(ngModel)] = "RubberisedCoirCheckBox" value="RubberisedCoir">Rubberised Coir</nb-checkbox>
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Pillow_PolyFill" [(ngModel)] = "PolyfilCheckBox" value="PollyFill">PollyFill</nb-checkbox><br>
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Pillow_Dacron" [(ngModel)] = "DacronCheckBox" value="Dacron">Dacron</nb-checkbox><br>
                      </div> 
                      

                      <br>
                      <h6>Blankets: </h6>
                      <br>
                      <div class="form-group validation-checkboxes row">
                        <nb-checkbox status="info" class="col-sm-4" formControlName="Blankets_Woollen" [(ngModel)] = "WoollenCheckBox" value="Woollen">Woollen</nb-checkbox>
                        <nb-checkbox status="info" class="col-sm-4" formControlName="Blankets_Cotton" [(ngModel)] = "BlanketCottonCheckBox" value="Cotton">Cotton</nb-checkbox>
                        <nb-checkbox status="info" class="col-sm-4" formControlName="Blankets_Silk" [(ngModel)] = "SilkCheckBox" value="Silk">Silk</nb-checkbox><br>
                        <nb-checkbox status="info" class="col-sm-4" formControlName="Blankets_Synthetic" [(ngModel)] = "SyntheticCheckBox" value="Synthetic">Synthetic</nb-checkbox>
                        <nb-checkbox status="info" class="col-sm-4" formControlName="Blankets_Polyester" [(ngModel)] = "BlanketPolysterCheckBox" value="Polyester">Polyester</nb-checkbox>
                      </div> 
                    <br>
                    <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
              </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </form>
