<form [formGroup]="gastroIntestinalForm" (ngSubmit)="submitGastroIntestinalForm(gastroIntestinalForm)">

  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Gastro Intestinal Information
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        Nausea:
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedNausea" formControlName="Nausea" name='Nausea'>
              <nb-radio *ngFor="let nauseaOption of nauseaOptions" [value]="nauseaOption.value">
                {{ nauseaOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>

        Vomiting:
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedVomiting" formControlName="Vomiting" name='Vomiting'>
              <nb-radio *ngFor="let vomitingOption of vomitingOptions" [value]="vomitingOption.value">
                {{ vomitingOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>

        It Relieve your symptom:
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedRelieve" formControlName="DoesVomitingGiveRelief"
              name='DoesVomitingGiveRelief'>
              <nb-radio *ngFor="let relieveOption of relieveOptions" [value]="relieveOption.value">
                {{ relieveOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>


        Abdominal Pain :

        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="selectedAbdominalPain" formControlName="AbdominalPain" name='AbdominalPain'>
              <nb-radio *ngFor="let abdominalPainOption of abdominalPainOptions" [value]="abdominalPainOption.value">
                {{ abdominalPainOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>

        <div *ngIf='selectedAbdominalPain == true'>
          <!-- <div class="col-sm-6">
            <div class="form-group">
              <label>Where</label>
              <select class="form-control" formControlName="AbdominalPainArea" [(ngModel)]="abdominalPainArea">
                <option>--Select a value--</option>
                <option>Left Side</option>
                <option>Right Side</option>
                <option>Back</option>
                <option>Front</option>
                <option>Vague</option>
                <option>Center</option>
              </select>
            </div>
          </div> -->
          <div class="form-group">
            <label>Where :</label>
            <div class="col-sm-6">
              <nb-select multiple formControlName="AbdominalPainArea" [(selected)]="selectedAbdominalPainArea">
                <nb-option *ngFor="let AbdominalPainArea of AbdominalPainAreaObj" [value]="AbdominalPainArea">
                  {{AbdominalPainArea.name}}
                </nb-option>
              </nb-select>
            </div>
          </div>

          <!-- <div class="col-sm-6">
            <div class="form-group">
              <label for="inputLastName">Type</label>
              <select class="form-control" formControlName="AbdominalPainType" [(ngModel)]="abdominalPainType">
                <option>--Select a value--</option>
                <option>Burning</option>
                <option>Griping</option>
                <option>Dull Ache</option>
                <option>Pricking</option>
              </select>
            </div>
          </div> -->
          <div class="form-group">
            <label>Where :</label>
            <div class="col-sm-6">
              <nb-select multiple formControlName="AbdominalPainType" [(selected)]="selectedAbdominalPainType">
                <nb-option *ngFor="let AbdominalPainType of AbdominalPainTypeObj" [value]="AbdominalPainType">
                  {{AbdominalPainType.name}}
                </nb-option>
              </nb-select>
            </div>
          </div>

        </div>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>

      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</form>