<form [formGroup]="searchPatientForm" (ngSubmit)="searchPatientByContactNumber()" class="needs-validation">

  <!--Patient Contact Details-->
  <nb-accordion>
    <nb-accordion-item expanded='true'>
      <nb-accordion-item-header class="text-white">
        Search Patient Information
      </nb-accordion-item-header>
      <nb-accordion-item-body>

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="inputWebsite">Primary Contact Number</label>
              <input type="number" class="form-control" id="inputWebsite" placeholder="Primary Contact Number"
                formControlName="Mobile" maxlength="10" (keypress)=_keyPress($event)
                [ngClass]="{ 'is-invalid':  ( submitted || f.Mobile?.touched )  && f.Mobile?.errors }">
              <div *ngIf="f.Mobile?.touched && f.Mobile?.errors" class="invalid-feedback">
                <div *ngIf="f.Mobile?.errors.required">Please enter primary contact number.</div>
                <div *ngIf="f.Mobile?.errors.pattern">Please Enter 10-digit valid mobile number.</div>
              </div>
            </div>
          </div>

        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
  <button nbButton type="submit" [disabled]="searchPatientForm.invalid" class="btn btn-info btn-lg float-right"
    [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage=""
    status="info">Search</button>
</form>

<br>