// @import '../../../@theme/styles/themes.scss';

// :host {
//   background: nb-theme(card-bg); // and use it
// }


nb-accordion-item-header{
  background-color:#a5a7a8;   
}
button {
    margin: 1rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}