<nb-card status="info">
  <nb-card-header class="text-white">Patient Personal Information</nb-card-header>
  <nb-card-body>

    <form class="needs-validation" [formGroup]="patientContactAndPhysicalForm"
      (ngSubmit)="submitPatientForm(patientContactAndPhysicalForm)">

      <nb-accordion>
        <nb-accordion-item expanded='true'>
          <nb-accordion-item-header class='patient-heading' class="text-white">
            Patient Contact Details
          </nb-accordion-item-header>
          <nb-accordion-item-body class='patient-body'>

            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputFirstName">First Name</label>
                  <input type="text" class="form-control" id="inputFirstName" placeholder="First Name"
                    formControlName="FirstName"
                    [ngClass]="{ 'is-invalid': ( submitted || f.FirstName?.touched ) && f.FirstName?.errors }">
                  <div *ngIf="f.FirstName?.touched && f.FirstName?.errors" class="invalid-feedback">
                    <div *ngIf="f.FirstName?.errors.required">First Name is required</div>
                    <div *ngIf="f.FirstName?.errors.pattern">Only alphanumerics are allowed!</div>
                  </div>
                </div>

              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputLastName">Middle Name</label>
                  <input type="text" class="form-control" id="inputLastName" placeholder="Middle Name"
                    formControlName="MiddleName"
                    [ngClass]="{ 'is-invalid': ( submitted || f.MiddleName?.touched ) && f.MiddleName?.errors }">
                  <div *ngIf="f.MiddleName?.touched && f.MiddleName?.errors" class="invalid-feedback">
                    <div *ngIf="f.MiddleName?.errors.required">Middle Name is required</div>
                    <div *ngIf="f.MiddleName?.errors.pattern">Only alphanumerics are allowed!</div>
                  </div>
                </div>

              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputFirstName">Last Name</label>
                  <input type="text" class="form-control" id="inputFirstName" placeholder="Last Name"
                    formControlName="LastName"
                    [ngClass]="{ 'is-invalid': ( submitted || f.LastName?.touched ) && f.LastName?.errors }">
                  <div *ngIf="f.LastName?.touched && f.LastName?.errors" class="invalid-feedback">
                    <div *ngIf="f.LastName?.errors.required">Last Name is required</div>
                    <div *ngIf="f.LastName?.errors.pattern">Only alphanumerics are allowed!</div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <nb-select placeholder="Gender" outline [(selected)]="selectedGender" formControlName="Gender"
                    status="info" [size]="'medium'">
                    <nb-option value="Male">Male</nb-option>
                    <nb-option value="Female">Female</nb-option>
                    <nb-option value="Transgender">Transgender</nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <nb-select placeholder="Marital Status" outline [(selected)]="selectedMaritalStatus"
                    formControlName="MaritalStatus" status="info">
                    <nb-option value="Single">Single</nb-option>
                    <nb-option value="Married">Married</nb-option>
                    <nb-option value="Divorced">Divorced</nb-option>
                    <nb-option value="Widowed">Widowed</nb-option>
                    <nb-option value="Living Together">Living Together</nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <nb-select placeholder="Occupation" outline [(selected)]="selectedOccupation"
                    formControlName="Occupation" status="info">
                    <nb-option value="Student">Student</nb-option>
                    <nb-option value="Teacher">Teacher</nb-option>
                    <nb-option value="Chemical Works">Chemical Works</nb-option>
                    <nb-option value="Medical Doctor">Medical Doctor</nb-option>
                    <nb-option value="Home Maker">Home Maker</nb-option>
                    <nb-option value="Tobacco Industry Works">Tobacco Industry Works</nb-option>
                    <nb-option value="Epoxy Industry Works">Epoxy Industry Works</nb-option>
                    <nb-option value="Silk Industry Works">Silk Industry Works</nb-option>
                    <nb-option value="Cement Industry Works">Cement Industry Works</nb-option>
                    <nb-option value="Jute Industry Works">Jute Industry Works</nb-option>
                    <nb-option value="Laboratory Works">Laboratory Works</nb-option>
                    <nb-option value="Fire Crackers Manufacturers">Fire Crackers Manufacturers</nb-option>
                  </nb-select>
                  <!-- <div *ngIf='selectedOccupation == Student'>
                    {{selectedOccupation}}
                  </div> -->
                </div>
              </div>
            </div>
            <br>
            <!-- <div *ngIf='selectedOccupation == Student'>
              {{selectedOccupation}}
            </div>
            <div> {{selectedOccupation}}</div> -->
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputEmail">Email</label>
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email"
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$" formControlName="EmailID"
                    [ngClass]="{ 'is-invalid': ( submitted || f.EmailID?.touched ) && f.EmailID?.errors }">
                  <div *ngIf="f.EmailID?.touched && f.EmailID?.errors" class="invalid-feedback">
                    <div *ngIf="f.EmailID?.errors.required">Email is required</div>
                    <div *ngIf="f.EmailID?.errors.email">Please enter valid Email Id</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputdob">Date of Birth</label><br>
                  <input nbInput class='datePicker' placeholder="Select Date" [nbDatepicker]="picker"
                    formControlName="DateofBirth"
                    [ngClass]="{ 'is-invalid': ( submitted || f.DateofBirth?.touched ) && f.DateofBirth?.errors }"
                    readonly>
                  <div *ngIf="f.DateofBirth?.touched && f.DateofBirth?.errors" class="invalid-feedback">
                    <div *ngIf="f.DateofBirth?.errors.required">DOB is required</div>
                  </div>
                  <nb-datepicker #picker [min]="min" [max]="max"></nb-datepicker>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputWebsite">Primary Contact Number</label>
                  <input type="number" class="form-control" id="inputWebsite" placeholder="Primary Contact Number"
                    formControlName="Mobile" maxlength="10" (keypress)=_keyPress($event)
                    [ngClass]="{ 'is-invalid':  ( submitted || f.Mobile?.touched )  && f.Mobile?.errors }">
                  <div *ngIf="f.Mobile?.touched && f.Mobile?.errors" class="invalid-feedback">
                    <div *ngIf="f.Mobile?.errors.required">Please enter primary contact number.</div>
                    <div *ngIf="f.Mobile?.errors.pattern">Please Enter 10-digit valid mobile number.</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputWebsite">Secondary Contact Number</label>
                  <input type="number" class="form-control" id="inputWebsite" placeholder="Secondary Contact Number"
                    formControlName="SecondaryContactNumber" maxlength="10" (keypress)=_keyPress($event)
                    [ngClass]="{ 'is-invalid': ( submitted || f.SecondaryContactNumber?.touched ) && f.SecondaryContactNumber?.errors }">
                  <div *ngIf="f.SecondaryContactNumber?.touched && f.SecondaryContactNumber?.errors"
                    class="invalid-feedback">
                    <div *ngIf="f.SecondaryContactNumber?.errors.required">Please enter secondary contact number..</div>
                    <div *ngIf="f.SecondaryContactNumber?.errors.pattern">Enter 10-digit valid mobile number.</div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName">Referred By</label>
                  <input type="text" class="form-control" id="inputFirstName" placeholder="Referred By"
                    formControlName="ReferringDoctorName"
                    [ngClass]="{ 'is-invalid': ( submitted || f.ReferringDoctorName?.touched ) && f.ReferringDoctorName?.errors }">
                  <div *ngIf="f.ReferringDoctorName?.touched && f.ReferringDoctorName?.errors" class="invalid-feedback">
                    <div *ngIf="f.ReferringDoctorName?.errors.required">Please enter refering doctor name.</div>
                    <div *ngIf="f.ReferringDoctorName?.errors.pattern">Only alphanumerics are allowed!</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName">Reference Contact Number</label>
                  <input type="number" class="form-control" id="inputLastName" placeholder="Reference Contact Number"
                    formControlName="ReferringDoctorContactNumber" maxlength="10" (keypress)=_keyPress($event)
                    [ngClass]="{ 'is-invalid': ( submitted || f.ReferringDoctorContactNumber?.touched ) && f.ReferringDoctorContactNumber?.errors }">
                  <div *ngIf="f.ReferringDoctorContactNumber?.touched && f.ReferringDoctorContactNumber?.errors"
                    class="invalid-feedback">
                    <div *ngIf="f.ReferringDoctorContactNumber?.errors.required">Please enter reference contact number.
                    </div>
                    <div *ngIf="f.ReferringDoctorContactNumber?.errors.pattern">Enter 10-digit valid mobile number.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="input-group">
              <label for="inputdob">Address-1</label><br>
              <textarea rows="5" nbInput fullWidth shape="round" placeholder="Address-1"
                formControlName="Address1"></textarea>
            </div>
            <br>
            <div class="input-group">
              <label for="inputdob">Address-2</label><br>
              <textarea rows="5" nbInput fullWidth shape="round" placeholder="Address-2" formControlName="Address2">
              </textarea>
            </div>
            <br>

          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
      <!-- </form> -->

      <br>
      <br>


      <!-- <form [formGroup]="patientPhysicalForm"  (ngSubmit)="submitPatientForm()"> -->
      <!--Patient Physical Details-->
      <nb-accordion>
        <nb-accordion-item expanded='true'>
          <nb-accordion-item-header class="text-white">
            Patient Physical Details
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <nb-select placeholder="Body Size" outline [(selected)]="selectedBodySize" formControlName="Size"
                    status="info">
                    <nb-option value="Thin and Skinny">Thin and Skinny</nb-option>
                    <nb-option value="Fat">Fat</nb-option>
                    <nb-option value="Obses">Obese</nb-option>
                    <nb-option value="OverWeight">OverWeight</nb-option>
                    <nb-option value="Normal Slim">Normal Slim</nb-option>
                    <nb-option value="Normal Regular">Normal Regular</nb-option>
                  </nb-select>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <nb-select placeholder="Skin Colour" outline [(selected)]="selectedSkinColour" formControlName="Color"
                    status="info">
                    <nb-option value="Fair">Fair</nb-option>
                    <nb-option value="Dark">Dark</nb-option>
                    <nb-option value="Brown">Brown</nb-option>
                    <nb-option value="Wheatish">Wheatish</nb-option>
                  </nb-select>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName">Height(in cms)</label>
                  <input type="number" class="form-control" id="inputFirstName" placeholder="Height(in cms)"
                    formControlName="Height"
                    [ngClass]="{ 'is-invalid': ( submitted || f.Height?.touched ) && f.Height?.errors }">
                  <div *ngIf="f.Height?.touched && f.Height?.errors" class="invalid-feedback">
                    <div *ngIf="f.Height?.errors.required">Please enter Height.</div>

                  </div>
                </div>

              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputLastName">Weight(in kgs)</label>
                  <input type="number" class="form-control" id="inputLastName" placeholder="Weight(in kgs)"
                    formControlName="Weight"
                    [ngClass]="{ 'is-invalid': ( submitted || f.Weight?.touched ) && f.Weight?.errors }">
                  <div *ngIf="f.Weight?.touched && f.Weight?.errors" class="invalid-feedback">
                    <div *ngIf="f.Weight?.errors.required">Please enter Weight.</div>

                  </div>
                </div>

              </div>
            </div>
            <br>
            <!-- <div class="col-sm-6">
                <div class="form-group">
                  <nb-select placeholder="Mental Status" outline [(selected)]="selectedMentalStatus" formControlName="MentalStatus"
                    status="info">
                    <nb-option value="Thin and Skinny">Thin and Skinny</nb-option>
                    <nb-option value="Fat">Fat</nb-option>
                    <nb-option value="Obses">Obese</nb-option>
                    <nb-option value="OverWeight">OverWeight</nb-option>
                    <nb-option value="Normal Slim">Normal Slim</nb-option>
                    <nb-option value="Normal Regular">Normal Regular</nb-option>
                  </nb-select>
                </div>
              </div> -->
            <div class="form-group">
              <label>Mental Status :</label>
              <div class="col-sm-6">
                <nb-select multiple formControlName="MentalStatus" [(selected)]="selectedMentalStatus">
                  <nb-option *ngFor="let MentalStatus of MentalStatusObj" [value]="MentalStatus">
                    {{MentalStatus.name}}
                  </nb-option>
                </nb-select>
              </div>
            </div>
            <br>
            <h6>Impact of symptoms at Occupation</h6>
            <div>
              <div class="col-sm-6">

                <div class="demo-radio col-sm-4">
                  <nb-radio-group [(ngModel)]="selectedSymptomsAtOccupation" formControlName="SymptomsAtOccupation"
                    name="OccupationSymptomOption">
                    <nb-radio *ngFor="let occupationSymptomsOption of occupationSymptomsOptions"
                      [value]="occupationSymptomsOption.value">{{ occupationSymptomsOption.name}}</nb-radio>
                  </nb-radio-group>
                </div>
              </div>

            </div>

            <br>
            <br>
            <div class="col-sm-4">
              <div class="form-group" *ngIf='selectedSymptomsAtOccupation == true'>
                <nb-select outline [(ngModel)]="selectedSymtomsAtOccupation" placeholder="Select"
                  id="occupationSymptoms" formControlName="SymptomsSelectedAtOccupation" status="info">
                  <nb-option value="Symptoms Increase">Symptoms Increase</nb-option>
                  <nb-option value="Symptoms Decrease">Symptoms Decrease</nb-option>
                  <nb-option value="Symptoms No change">Symptoms No change</nb-option>
                </nb-select>
              </div>
            </div>

            <!-- <div class="col-sm-4">
              <div class="form-group">
                <label for="inputLastName">Type</label>
                <select class="form-control" formControlName="AbdominalPainType" [(ngModel)]="abdominalPainType">
                  <option>--Select a value--</option>
                  <option>Burning</option>
                  <option>Griping</option>
                  <option>Dull Ache</option>
                  <option>Pricking</option>
                </select>
              </div>
            </div> -->
            <br>
            <br>

            <h6>Exposure to Sun</h6>
            <div>
              <div class="col-sm-6">
                <div class="demo-radio col-sm-4">
                  <nb-radio-group [(ngModel)]="selectedExposureToSun" formControlName="ExposureToSun"
                    name="SunExposureOption">
                    <nb-radio *ngFor="let sunExposureOption of sunExposureOptions" [value]="sunExposureOption.value">
                      {{ sunExposureOption.name}}</nb-radio>
                  </nb-radio-group>
                </div>
              </div>

            </div>


            <br>
            <br>



          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
      <br>

      <button nbButton type="submit" class="btn btn-info btn-lg float-right"
        [disabled]="patientContactAndPhysicalForm.invalid" [nbSpinner]="loading" nbSpinnerStatus="success"
        nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>


    </form>

  </nb-card-body>
</nb-card>