<form [formGroup]="higherTestForm" (ngSubmit)="submitHigherTestForm(higherTestForm)">

  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Higher Test
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <h6> Have you undergone any higher test?</h6>
        <div class="col-sm-6">
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(ngModel)]="higherTest" formControlName="HigherTest" name='HigherTest'>
              <nb-radio *ngFor="let higherTestOption of higherTestOptions" [value]="higherTestOption.value">
                {{ higherTestOption.name}}</nb-radio>
            </nb-radio-group>
          </div>
        </div>
        <div *ngIf='higherTest == true'>
          <textarea rows="5" style="overflow:scroll;" placeholder="Details" class="form-control"
            formControlName="HigherTestDetails" [(ngModel)]="higherTestDetails"></textarea>
        </div>

        <br>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>


</form>