<form [formGroup]=" bowelmomentUrinationForm" (ngSubmit)="submitBowelmomentUrinationForm(bowelmomentUrinationForm)">
  <br>
  <nb-accordion>
    <nb-accordion-item>
      <nb-accordion-item-header class="text-white">
        Bowelmoment Urination
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="form-group">
          <label>Bowel Habits:</label>
          <div class="col-sm-6">
            <nb-select multiple formControlName="BowelHabits" [(selected)]="selectedBowelHabits">
              <nb-option *ngFor="let bowelHabit of bowelHabitsObj" [value]="bowelHabit">
                {{bowelHabit.name}}
              </nb-option>
            </nb-select>
          </div>
        </div> <br>

        <div class="form-group">
          <label>Urination:</label>
          <div class="col-sm-6">
            <nb-select multiple formControlName="Urination" [(selected)]="selectedUrination">
              <nb-option *ngFor="let urination of urinationObj" [value]="urination">
                {{urination.name}}
              </nb-option>
            </nb-select>
          </div>
        </div> <br>
        <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success"
          nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</form>