
<nb-card>
  <form [formGroup]="patientContactForm" (ngSubmit)="handleSubmit()">
      
             <!--Patient Contact Details-->
            <nb-accordion>
              <nb-accordion-item>
                <nb-accordion-item-header>
                  Patient Contact Details
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                 
                     
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="inputFirstName">First Name</label>
                            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" formControlName="FirstName">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="inputLastName">Middle Name</label>
                            <input type="text" class="form-control" id="inputLastName" placeholder="Middle Name" formControlName="MiddleName">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="inputFirstName">Last Name</label>
                            <input type="text" class="form-control" id="inputFirstName" placeholder="Last Name" formControlName="LastName">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" formControlName="EmailID">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input nbInput placeholder="Date of Birth" [nbDatepicker]="picker" formControlName="DateofBirth">
                            <!-- [min]="min" [max]="max" -->
                            <nb-datepicker #picker ></nb-datepicker>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="inputWebsite">Primary Contact Number</label>
                            <input type="text" class="form-control" id="inputWebsite" placeholder="Primary Contact Number" formControlName="Mobile">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="inputWebsite">Secondary Contact Number</label>
                            <input type="text" class="form-control" id="inputWebsite" placeholder="Secondary Contact Number" formControlName="SecondaryContactNumber">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="inputFirstName">Referred By</label>
                            <input type="text" class="form-control" id="inputFirstName" placeholder="Referred By" formControlName="ReferringDoctorName">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="inputLastName">Reference Contact Number</label>
                            <input type="text" class="form-control" id="inputLastName" placeholder="Reference Contact Number" formControlName="ReferringDoctortNumber">
                          </div>
                        </div>
                      </div>
                      <div class="input-group">
                        <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Address-1" formControlName="Address1"></textarea>
                      </div>
                      <br>
                      <div class="input-group">
                        <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Address-2" formControlName="Address2"></textarea>
                      </div>
                      
                      <br>
                      <button nbButton class="btn btn-info btn-lg float-right" status="success">Submit</button>
                        
                </nb-accordion-item-body>
              </nb-accordion-item> 
            </nb-accordion>    
         
  </form>
</nb-card>

<!--
<nb-accordion>
      <nb-accordion-item>
          <nb-accordion-item-header>
            Patient Contact Details
          </nb-accordion-item-header>
          <nb-accordion-item-body>
              <form [formGroup]="patientContactDetailsForm"  (ngSubmit)="handleSubmit()">
                    <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="inputFirstName">First Name</label>
                            <input type="text" class="form-control" id="inputFirstName" placeholder="First Name" formControlName="FirstName">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="inputLastName">Middle Name</label>
                            <input type="text" class="form-control" id="inputLastName" placeholder="Middle Name" formControlName="MiddleName">
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label for="inputFirstName">Last Name</label>
                            <input type="text" class="form-control" id="inputFirstName" placeholder="Last Name" formControlName="LastName">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" formControlName="EmailID">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <input nbInput placeholder="Date of Birth" [nbDatepicker]="picker" formControlName="DateofBirth">
                            <nb-datepicker #picker [min]="min" [max]="max"></nb-datepicker>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="inputWebsite">Primary Contact Number</label>
                            <input type="text" class="form-control" id="inputWebsite" placeholder="Primary Contact Number" formControlName="Mobile">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="inputWebsite">Secondary Contact Number</label>
                            <input type="text" class="form-control" id="inputWebsite" placeholder="Secondary Contact Number" formControlName="SecondaryContactNumber">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="inputFirstName">Referred By</label>
                            <input type="text" class="form-control" id="inputFirstName" placeholder="Referred By" formControlName="ReferringDoctorName">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="inputLastName">Reference Contact Number</label>
                            <input type="text" class="form-control" id="inputLastName" placeholder="Reference Contact Number" formControlName="ReferringDoctortNumber">
                          </div>
                        </div>
                      </div>
                      <div class="input-group">
                        <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Address-1" formControlName="Address1"></textarea>
                      </div>
                      <br>
                      <div class="input-group">
                        <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Address-2" formControlName="Address2"></textarea>
                      </div>
                      <br>
-->
      
                       <!--<button type="submit" class="btn btn-primary">Submit</button>
                       <div class="row">
                          <div class="col-sm-4">
                            <div class="form-group">
                                <nb-select placeholder="Gender" [(selected)]="selectedItem" formControlName="Gender">
                                    <nb-option value="1">Male</nb-option>
                                    <nb-option value="2">Female</nb-option>
                                    <nb-option value="3">Transgender</nb-option>
                                  </nb-select>
                            </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="form-group">
                                  <nb-select placeholder="Marrital Status" [(selected)]="selectedItem" formControlName="MarriatalStatus">
                                      <nb-option value="1">Single</nb-option>
                                      <nb-option value="2">Married</nb-option>
                                      <nb-option value="3">Divorced</nb-option>
                                      <nb-option value="4">Widowed</nb-option>
                                      <nb-option value="4">Living Together</nb-option>
                                    </nb-select>
                              </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <nb-select placeholder="Occupation" [(selected)]="selectedItem" formControlName="Occupation">
                                      <nb-option>Student</nb-option>
                                      <nb-option>Teacher</nb-option>
                                      <nb-option>Chemical Works</nb-option>
                                      <nb-option>Medical Doctor</nb-option>
                                      <nb-option>Home Maker</nb-option>
                                      <nb-option>Tobacco Industry Works</nb-option>
                                      <nb-option>Epoxy Industry Works</nb-option>
                                      <nb-option>Silk Industry Works</nb-option>
                                      <nb-option>Cement Industry Works</nb-option>
                                      <nb-option>Jute Industry Works</nb-option>
                                      <nb-option>Laboratory Works</nb-option>
                                      <nb-option>Fire Crackers Manufacturers</nb-option>
                                    </nb-select>
                                </div>
                              </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <nb-select placeholder="Body Size" [(selected)]="selectedItem" formControlName="BodySize">
                                      <nb-option>Thin and Skinny</nb-option>
                                      <nb-option>Fat</nb-option>
                                      <nb-option>Obese</nb-option>
                                      <nb-option>OverWeight</nb-option>
                                      <nb-option>Normal Slim</nb-option>
                                      <nb-option>Normal Regular</nb-option>
                                    </nb-select>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <nb-select placeholder="Skin Colour" [(selected)]="selectedItem" formControlName="SkinColour">
                                        <nb-option>Fair</nb-option>
                                        <nb-option>Dark</nb-option>
                                        <nb-option>Brown</nb-option>
                                        <nb-option>Wheatish</nb-option>
                                      </nb-select>
                                  </div>
                                </div>       
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="inputFirstName">Height</label>
                              <input type="text" class="form-control" id="inputFirstName" placeholder="Height in cms" formControlName="Height">
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="inputLastName">Weight</label>
                              <input type="text" class="form-control" id="inputLastName" placeholder="Weight in kgs" formControlName="Weight">
                            </div>
                          </div>
                        </div>
                        <br>
                        <h6>Impact of symptoms at Occupation</h6>
                        <div class="col-sm-6">
                            <div class="demo-radio col-sm-4">
                                <nb-radio-group [(value)]="radioGroupValue">
                                  <nb-radio
                                    [value]="'This is value 1'">
                                    YES
                                  </nb-radio>
                                  <nb-radio
                                    [value]="'This is value 2'">
                                    NO
                                  </nb-radio>         
                                </nb-radio-group>
                              </div>
                        </div>
                        <div *ngIf= 'SymptomsAtOccupation == "yes"'>
                          <div class="form-group">          
                              <select class="form-control" [(ngModel)]="PatientService.WritePatient.PatientPhysicalDetails.SymptomesSelectedAtOccupation" disabled>
                                <nb-option>--Select a value--</nb-option>
                                <nb-option>Symptoms Increase</nb-option>
                                <nb-option>Symptoms Decrease</nb-option>
                                <nb-option>Symptoms No change</nb-option>
                              </select>
                          </div><br>
                          </div><br>
                        
                          <br>
                          <h6>Exposure to Sun</h6>
                        <div class="col-sm-6">
                              <div class="demo-radio col-sm-4">
                                  <nb-radio-group [(value)]="radioGroupValue">
                                    <nb-radio
                                      [value]="'This is value 1'">
                                      YES
                                    </nb-radio>
                                    <nb-radio
                                      [value]="'This is value 2'">
                                      NO
                                    </nb-radio>                          
                                  </nb-radio-group>
                              </div>
                        </div>
                        
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
          </nb-accordion-item-body>
        </nb-accordion-item>
 
   
</nb-accordion>-->