
    <form [formGroup]="allergyFactor2Form" (ngSubmit)="submitAllergyFactor2Form()">     
      <nb-accordion>
        <nb-accordion-item #item>
              <nb-accordion-item-header class="text-white">
                Allergy Factor (Furnitures/Carpets)
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                    <h6>Furnitures: </h6>
                    <br>
                    <div class="form-group validation-checkboxes row">
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Furniture_Leather" [(ngModel)] = "LeatherCheckBox" value="Leather">Leather</nb-checkbox>
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Furniture_FoamLeather" [(ngModel)] = "FoamleatherCheckBox" value="Foamleather">Foam leather</nb-checkbox>
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Furniture_Wooden" [(ngModel)] = "WoodenCheckBox" value="Wooden">Wooden</nb-checkbox><br>
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Furniture_Steel" [(ngModel)] = "SteelCheckBox" value="Steel">Steel</nb-checkbox>
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Furniture_Oldfurniture" [(ngModel)] = "OldfurnitureCheckBox" value="Oldfurniture">Old Furniture</nb-checkbox>
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Furniture_Polyster" [(ngModel)] = "PolysterCheckBox" value="Polyester">Polyester</nb-checkbox><br>
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Furniture_Cotton" [(ngModel)] = "CottonCheckBox" value="Cotton">Cotton</nb-checkbox>
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Furniture_Silk" [(ngModel)] = "SilkCheckBox" value="Silk">Silk</nb-checkbox>
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Furniture_NewFurniture" [(ngModel)] = "NewFurnitureCheckBox" value="NewFurniture">New Furniture</nb-checkbox><br>
                      <nb-checkbox status="info" class="col-sm-4" formControlName="Furniture_ModeratelyNew" [(ngModel)] = "ModeratelyNewCheckBox" value="ModeratelyNew">Moderately New</nb-checkbox>
                      </div> 
                    <br>
                    <br>
                    <h6>Carpets : </h6>
                    <br>
                    <div class="col-sm-6"> 
                        <div class="demo-radio col-sm-4">
                            <nb-radio-group [(ngModel)]="selectedCarpet" formControlName="Carpet" name = 'Carpet'>
                                <nb-radio *ngFor="let carpetOption of carpetOptions" [value]="carpetOption.value">{{ carpetOption.name}}</nb-radio>                          
                            </nb-radio-group>
                        </div>
                    </div> 
                    <br>
                    <div class="row">
                        <div class="col-sm-4">
                          
                            <div class="form-group"  *ngIf = 'selectedCarpet == true'>
                                <nb-select outline multiple placeholder="Select" id="carpet" formControlName="CarpetSelect" [(ngModel)] = "selectedCarpets" status="info">
                                    <nb-option *ngFor="let item of items" [value]="item.value">{{ item.name }}</nb-option>
                                </nb-select>
                            </div>
                          </div>
                    </div>
                   





                   
                    <br>
                    <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
                  
              </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </form>
