
    <form [formGroup]="allergyHistory0Form" (ngSubmit)="submitAllergyHistory0Form()"> 
      <br>    
      <nb-accordion>
        <nb-accordion-item #item>
              <nb-accordion-item-header class="text-white">
              Allergy History (Differ by Places)
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                    <h6>Difference in Different Places : </h6>
                    <br>
                    <div class="col-sm-6">     
                      <div class="demo-radio col-sm-4">
                          <nb-radio-group [(ngModel)]="selectedPlaceAllergyHistory" formControlName="DifferPerPlace" name='DifferPerPlace' >
                              <nb-radio *ngFor="let placeAllergyHistoryOption of placeAllergyHistoryOptions" [value]="placeAllergyHistoryOption.value">{{ placeAllergyHistoryOption.name}}</nb-radio>                          
                          </nb-radio-group>
                      </div>
                    </div> 
                    <br>
                    <div *ngIf='selectedPlaceAllergyHistory == true'>
                        <div class="row">
                            <div class="col-sm-4">
                              <div class="form-group">
                                <input type="text" class="form-control" id="inputFirstName" placeholder="Place - 1" formControlName="Place1" [(ngModel)] = "selectedPlace1">
                              </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">          
                                    <nb-select outline  [(ngModel)]="selectedPlace1Symptoms"  placeholder="Select" formControlName="Place1Symptom" status="info">
                                      <nb-option  value="Symptoms Increase">Symptoms Increase</nb-option>
                                      <nb-option  value="Symptoms Decrease">Symptoms Decrease</nb-option>
                                      <nb-option  value="Symptoms Same">Symptoms Same</nb-option>
                                      <nb-option  value="Symptoms Abscent">Symptoms Abscent</nb-option>
                                    </nb-select>
                                </div>  
                            </div>  
                                                    
                          </div>
                          <br>
                          <div class="row">
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <input type="text" class="form-control" id="inputSecondName" placeholder="Place - 2" formControlName="Place2" [(ngModel)] = "selectedPlace2">
                                </div>
                              </div>
                              <div class="col-sm-4">
                                  <div class="form-group">          
                                      <nb-select outline [(ngModel)]="selectedPlace2Symptoms" placeholder="Select" id="secondPlaceSymptom" formControlName="Place2Symptoms" status="info">
                                        <nb-option  value="Symptoms Increase">Symptoms Increase</nb-option>
                                        <nb-option  value="Symptoms Decrease">Symptoms Decrease</nb-option>
                                        <nb-option  value="Symptoms Same">Symptoms Same</nb-option>
                                        <nb-option  value="Symptoms Abscent">Symptoms Abscent</nb-option>
                                      </nb-select>
                                  </div>  
                              </div>   
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                  <div class="form-group">
                                    <input type="text" class="form-control" id="inputThirdName" placeholder="Place - 3" formControlName="Place3" [(ngModel)] = "selectedPlace3">
                                  </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">          
                                        <nb-select outline  [(ngModel)]="selectedPlace3Symptoms" placeholder="Select" id="thirdPlaceSymptom" formControlName="Place3Symptoms" status="info">
                                          <nb-option  value="Symptoms Increase">Symptoms Increase</nb-option>
                                          <nb-option  value="Symptoms Decrease">Symptoms Decrease</nb-option>
                                          <nb-option  value="Symptoms Same">Symptoms Same</nb-option>
                                          <nb-option  value="Symptoms Abscent">Symptoms Abscent</nb-option>
                                        </nb-select>
                                    </div>  
                                </div>      
                              </div>
                              <br>
                              <div class="row">
                                  <div class="col-sm-4">
                                    <div class="form-group">
                                      <input type="text" class="form-control" id="inputFourthName" placeholder="Place - 4" formControlName="Place4" [(ngModel)] = "selectedPlace4">
                                    </div>
                                  </div>
                                  <div class="col-sm-4">
                                      <div class="form-group">          
                                          <nb-select outline  [(ngModel)]="selectedPlace4Symptoms" placeholder="Select" id="fourthPlaceSymptom" formControlName="Place4Symptoms" status="info">
                                            <nb-option  value="Symptoms Increase">Symptoms Increase</nb-option>
                                            <nb-option  value="Symptoms Decrease">Symptoms Decrease</nb-option>
                                            <nb-option  value="Symptoms Same">Symptoms Same</nb-option>
                                            <nb-option  value="Symptoms Abscent">Symptoms Abscent</nb-option>
                                          </nb-select>
                                      </div>  
                                  </div>    
                                </div>  




                    </div>
                    
                    <br>
                    <button nbButton class="btn btn-info btn-lg float-right" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage="" status="info">Submit</button>
              </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </form>
